<div id="page-wrapper">

    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header"><i class="fa fa-tags" aria-hidden="true"></i> Administration des indexs</h2>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <uib-tabset active="active">
        <uib-tab index="0" select="adminIndexesCtrl.loadBoardIndex()">
            <uib-tab-heading>
                <i class="fa fa-tags" aria-hidden="true"></i> Indexs simples
            </uib-tab-heading>
            <br/>
            <div class="row" ng-controller="HelperController as helperController">
                <div class="col-lg-12"  ng-controller="ModalIndexesCtrl as modalIndexesCtrl">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
                        <input type="text" ng-model="searchSimpleIdx" class="form-control" placeholder="CHERCHER" aria-describedby="basic-addon1">
                        <span class="input-group-btn"> <button class="btn btn-success" type="button" ng-click="modalIndexesCtrl.openUpdate(adminIndexesCtrl.board, line.id, 'add')" id="basic-addon1"><i class="fa fa-plus-circle" aria-hidden="true"></i> AJOUTER</button></span>
                    </div>
                    <!-- /.input-group -->
                    <br/>

                    <table class="table table-bordered table-striped table-hover">
                        <thead>

                        <tr class="warning">
                            <th ng-repeat="column in adminIndexesCtrl.board.boardHead.columns" ng-style="helperController.calculateClass(column.id)">
                            <span>{{column.value}}</span>
                        </th>
                        </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="line in adminIndexesCtrl.board.boardLines | filter : searchSimpleIdx | limitTo : adminIndexesCtrl.itemsPerPage : (adminIndexesCtrl.currentPage-1)*adminIndexesCtrl.itemsPerPage">
                                <td ng-repeat="column in line.columns" ng-style="helperController.calculateClass(column.id)">{{column.value}}</td>
                                <td class="text-center">
                                    <button type="submit" class="btn btn-sm btn-success fa fa-pencil-square-o" title="Modifier" ng-click="modalIndexesCtrl.openUpdate(adminIndexesCtrl.board, line.id, 'update')"></button>
                                    <button type="submit" class="btn btn-sm btn-danger fa fa-trash-o" title="Supprimer" ng-click="modalIndexesCtrl.openDelete(line.id)"></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- /.table -->

                    <div class="main-pagination" ng-show="adminIndexesCtrl.simpleIndexes && adminIndexesCtrl.simpleIndexes.length">
                        <uib-pagination total-items="adminIndexesCtrl.simpleIndexes.length" ng-model="adminIndexesCtrl.currentPage" max-size="adminIndexesCtrl.maxSize"
                            class="pagination-sm" rotate="false" first-text="Premier" last-text="Dernier" previous-text="Précédent"
                            next-text="Suivant" items-per-page="adminIndexesCtrl.itemsPerPage">
                        </uib-pagination>
                    </div>
                    <!-- /.main-pagination -->
                </div>
                <!-- /.col-lg-12 -->
            </div>


        </uib-tab>
        <uib-tab index="1" select="adminIndexesCtrl.loadAllCompositeIndexes()">
            <uib-tab-heading>
                <i class="fa fa-inbox" aria-hidden="true"></i> Indexs composés
            </uib-tab-heading>
            <br/>
            <div class="row">
                <div class="col-lg-12">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
                        <input type="text" ng-model="searchMultIdx" class="form-control" placeholder="CHERCHER" aria-describedby="basic-addon1">
                        <span class="input-group-btn"> <button class="btn btn-success" type="button" ng-click="adminIndexesCtrl.openPopinCompositeIdxAdd = true" id="basic-addon1"><i class="fa fa-plus-circle" aria-hidden="true"></i> AJOUTER</button></span>
                    </div>
                    <!-- /.input-group -->
                    <br/>

                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr class="warning">
                                <th>Libellé</th>
                                <th>code</th>
                                <th>Niveau</th>
                                <th>type</th>
                                <th class="text-center">Date de création</th>
                                <th class="text-center">Dernière modification</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="index in adminIndexesCtrl.compositeIndexes | filter : searchMultIdx | limitTo : adminIndexesCtrl.itemsPerPage : (adminIndexesCtrl.currentPage-1)*adminIndexesCtrl.itemsPerPage">
                                <td>{{index.label}}</td>
                                <td>{{index.code}}</td>
                                <td>{{index.indexType}}</td>
                                <td>{{index.inputType}}</td>
                                <td class="text-center">{{index.createDate | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                                <td class="text-center">{{index.updateDate | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                                <td class="text-center">
                                    <button type="submit" class="btn btn-sm btn-success fa fa-pencil-square-o" title="Modifier" ng-click="adminIndexesCtrl.prepareUpdateCompositeIndex(index)"></button>
                                    <button type="submit" class="btn btn-sm btn-danger fa fa-trash-o" title="Supprimer" ng-click="adminIndexesCtrl.prepareDeleteCompositeIndex(index)"></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- /.table -->

                    <div class="main-pagination" ng-show="adminIndexesCtrl.compositeIndexes && adminIndexesCtrl.compositeIndexes.length">
                        <uib-pagination total-items="adminIndexesCtrl.compositeIndexes.length" ng-model="adminIndexesCtrl.currentPage" max-size="adminIndexesCtrl.maxSize"
                            class="pagination-sm" rotate="false" first-text="Premier" last-text="Dernier" previous-text="Précédent"
                            next-text="Suivant" items-per-page="adminIndexesCtrl.itemsPerPage">
                        </uib-pagination>
                    </div>
                    <!-- /.main-pagination -->
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <!-- Modal to add new composite index -->
            <div modal-show modal-visible="adminIndexesCtrl.openPopinCompositeIdxAdd" class="modal fade" data-keyboard="false" data-backdrop="static">
                <div class="modal-dialog modal-lg">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title"> <i class="fa fa-pencil" aria-hidden="true"></i> Ajouter un nouveau index composé </h4>
                        </div>
                        <form role="form_create" class="form-horizontal">
                            <div class="modal-body">

                                <div class="form-group">
                                    <label for="label" class="col-sm-2 control-label">Libellé :</label>
                                    <div class="col-sm-10">
                                        <input type="text" ng-model="adminIndexesCtrl.compositeIndexAdd.label" class="form-control" id="label" required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="code" class="col-sm-2 control-label">Code :</label>
                                    <div class="col-sm-10">
                                        <input type="text" ng-model="adminIndexesCtrl.compositeIndexAdd.code" class="form-control" id="code" required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="active" class="col-sm-2 control-label">Liste d'indexs :</label>
                                    <div class="col-sm-10">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="panel panel-info">
                                                    <div class="panel-heading">Liste d'indexs affectés</div>
                                                    <div class="panel-body">
                                                        <ul ui-sortable="adminIndexesCtrl.sortableOptions" class="list-group connectedList ul-noStyle" ng-init="adminIndexesCtrl.compositeIndexAdd.childIndexes = []"
                                                            ng-model="adminIndexesCtrl.compositeIndexAdd.childIndexes">
                                                            <li class="list-group-item list-group-item-warning" ng-repeat="index in adminIndexesCtrl.compositeIndexAdd.childIndexes">{{index.label}}<i class="fa fa-hand-paper-o pull-right" aria-hidden="true"></i></li>
                                                            <li ng-show="!adminIndexesCtrl.compositeIndexAdd.childIndexes.length">&nbsp;</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /.col-lg-12 -->
                                            <div class="col-lg-12">
                                                <div class="panel panel-info">
                                                    <div class="panel-heading">Liste d'indexs Existants</div>
                                                    <div class="panel-body">
                                                        <ul ui-sortable="adminIndexesCtrl.sortableOptions" class="list-group connectedList ul-noStyle" ng-model="adminIndexesCtrl.simpleIndexes">
                                                            <li class="list-group-item list-group-item-success" ng-repeat="index in adminIndexesCtrl.simpleIndexes">{{index.label}} <i class="fa fa-hand-paper-o pull-right" aria-hidden="true"></i></li>
                                                            <li ng-show="!adminIndexesCtrl.simpleIndexes.length">&nbsp;</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /.col-lg-12 -->
                                        </div>
                                        <!-- /.row -->
                                    </div>
                                </div>
                            </div>
                            <!-- ./panel-body -->
                            <div class="panel-footer text-right">
                                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="adminIndexesCtrl.compositeIndexAdd = undefined;">Annuler</button>
                                <button type="button" class="btn btn-success" ng-disabled="!adminIndexesCtrl.isCompositeIndexFilled(adminIndexesCtrl.compositeIndexAdd)"
                                    ng-click="adminIndexesCtrl.createCompsiteIndex()">valider</button>
                            </div>
                            <!-- ./panel-footer -->
                        </form>
                    </div>
                </div>
            </div>

            <!-- Modal to update composite index -->
            <div modal-show modal-visible="adminIndexesCtrl.openPopinCompositeIdxEdit" class="modal fade" data-keyboard="false" data-backdrop="static">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title"> <i class="fa fa-pencil" aria-hidden="true"></i> Modifier l'index composé </h4>
                        </div>
                        <form role="form_create" class="form-horizontal">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="label" class="col-sm-2 control-label">Libellé :</label>
                                    <div class="col-sm-10">
                                        <input type="text" ng-model="adminIndexesCtrl.compositeIndexEdit.label" class="form-control" id="label" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="code" class="col-sm-2 control-label">Code :</label>
                                    <div class="col-sm-10">
                                        <input type="text" ng-model="adminIndexesCtrl.compositeIndexEdit.code" class="form-control" id="code" required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="active" class="col-sm-2 control-label">Liste d'indexs :</label>
                                    <div class="col-sm-10">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="panel panel-info">
                                                    <div class="panel-heading">Liste d'indexs affectés</div>
                                                    <div class="panel-body">
                                                        <ul ui-sortable="adminIndexesCtrl.sortableOptions" class="list-group connectedList ul-noStyle" ng-init="adminIndexesCtrl.compositeIndexEdit.childIndexes = []"
                                                            ng-model="adminIndexesCtrl.compositeIndexEdit.childIndexes">
                                                            <li class="list-group-item list-group-item-warning" ng-repeat="index in adminIndexesCtrl.compositeIndexEdit.childIndexes">{{index.label}}<i class="fa fa-hand-paper-o pull-right" aria-hidden="true"></i></li>
                                                            <li ng-show="!adminIndexesCtrl.compositeIndexEdit.childIndexes.length">&nbsp;</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /.col-lg-12 -->
                                            <div class="col-lg-12">
                                                <div class="panel panel-info">
                                                    <div class="panel-heading">Liste d'indexs Existants</div>
                                                    <div class="panel-body">
                                                        <ul ui-sortable="adminIndexesCtrl.sortableOptions" class="list-group connectedList ul-noStyle" ng-model="adminIndexesCtrl.simpleIndexes">
                                                            <li class="list-group-item list-group-item-success" ng-repeat="index in adminIndexesCtrl.simpleIndexes">{{index.label}} <i class="fa fa-hand-paper-o pull-right" aria-hidden="true"></i></li>
                                                            <li ng-show="!adminIndexesCtrl.simpleIndexes.length">&nbsp;</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /.col-lg-12 -->
                                        </div>
                                        <!-- /.row -->
                                    </div>
                                </div>
                            </div>
                            <!-- ./panel-body -->
                            <div class="panel-footer text-right">
                                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="adminIndexesCtrl.compositeIndexEdit = undefined;">Annuler</button>
                                <button type="button" class="btn btn-success" ng-disabled="!adminIndexesCtrl.isCompositeIndexFilled(adminIndexesCtrl.compositeIndexEdit)"
                                    ng-click="adminIndexesCtrl.updateCompositeIndex()">valider</button>
                            </div>
                            <!-- ./panel-footer -->
                        </form>
                    </div>
                </div>
            </div>

            <!-- Modal to delete an index -->
            <div modal-show modal-visible="adminIndexesCtrl.openPopinCompositeIdxConfirm" class="modal fade">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Confirmation</h4>
                        </div>
                        <div class="modal-body">
                            <p>Êtes-vous sûr de vouloir supprimer définitivement l'index : <strong>{{adminIndexesCtrl.compositeIndexEdit.label}}</strong></p>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                            <button type="submit" class="btn btn-success" ng-click="adminIndexesCtrl.confirmDeleteCompositeIndex()">Valider</button>
                        </div>
                    </div>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="2">
            <uib-tab-heading>
                <i class="fa fa-inbox" aria-hidden="true"></i> Référentiel
            </uib-tab-heading>
            <br/>

        </uib-tab>
    </uib-tabset>
</div>
<!-- /#page-wrapper -->
