<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb breadcrumb-custom">
                <li>
                    <i class="fa fa-cubes "></i><a href="#/home"> Corbeilles de traitements</a>
                </li>
                <li class="active">
                    <i class="fa fa-cube"></i> Contrôle Image
                </li>
            </ol>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row">

        <div class="col-lg-8" ng-show="!treatmentBaseCtrl.batchs">
            <div class="panel panel-danger">
                <div class="panel-body">
                    <span>Pas de batch dans la corbeille</span>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-8 -->

        <div class="col-lg-8" ng-show="treatmentBaseCtrl.batchs">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr class="warning">
                        <th>
                            <a ng-click="treatmentBaseCtrl.search.sortType = 'idEnvelope'; treatmentBaseCtrl.search.sortReverse = !treatmentBaseCtrl.search.sortReverse ; treatmentBaseCtrl.loadBatchs()">
                                <span ng-show="treatmentBaseCtrl.search.sortType == 'idLot' && !treatmentBaseCtrl.search.sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="treatmentBaseCtrl.search.sortType == 'idLot' && treatmentBaseCtrl.search.sortReverse" class="fa fa-caret-up"></span>
                                Lot
                            </a>
                        </th>
                        <th>
                            <a ng-click="treatmentBaseCtrl.search.sortType = 'batch.batNumber'; treatmentBaseCtrl.search.sortReverse = !treatmentBaseCtrl.search.sortReverse; treatmentBaseCtrl.loadBatchs()">
                                <span ng-show="treatmentBaseCtrl.search.sortType == 'canal' && !treatmentBaseCtrl.search.sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="treatmentBaseCtrl.search.sortType == 'canal' && treatmentBaseCtrl.search.sortReverse" class="fa fa-caret-up"></span>
                                Canal
                            </a>
                        </th>
                        <th>
                            <a ng-click="treatmentBaseCtrl.search.sortType = 'envComment'; treatmentBaseCtrl.search.sortReverse = !treatmentBaseCtrl.search.sortReverse; treatmentBaseCtrl.loadBatchs()">
                                <span ng-show="treatmentBaseCtrl.search.sortType == 'job' && !treatmentBaseCtrl.search.sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="treatmentBaseCtrl.search.sortType == 'job' && treatmentBaseCtrl.search.sortReverse" class="fa fa-caret-up"></span>
                                Job
                            </a>
                        </th>
                        <th>
                            <a ng-click="treatmentBaseCtrl.search.sortType = 'createDate'; treatmentBaseCtrl.search.sortReverse = !treatmentBaseCtrl.search.sortReverse; treatmentBaseCtrl.loadBatchs()">
                                <span ng-show="treatmentBaseCtrl.search.sortType == 'nbPlis' && !treatmentBaseCtrl.search.sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="treatmentBaseCtrl.search.sortType == 'nbPlis' && treatmentBaseCtrl.search.sortReverse" class="fa fa-caret-up"></span>
                                Nombre de plis
                            </a>
                        </th>
                        <th>
                            <a ng-click="treatmentBaseCtrl.search.sortType = 'createDate'; treatmentBaseCtrl.search.sortReverse = !treatmentBaseCtrl.search.sortReverse; treatmentBaseCtrl.loadBatchs()">
                                <span ng-show="treatmentBaseCtrl.search.sortType == 'integrationDate' && !treatmentBaseCtrl.search.sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="treatmentBaseCtrl.search.sortType == 'integrationDate' && treatmentBaseCtrl.search.sortReverse" class="fa fa-caret-up"></span>
                                Date d'intégration
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="batch in treatmentBaseCtrl.batchs">
                        <td ng-click="treatmentBaseCtrl.open(batch.id)">{{batch.batchName}}</span></td>
                        <td ng-click="treatmentBaseCtrl.open(batch.id)">{{}}</td>
                        <td ng-click="treatmentBaseCtrl.open(batch.id)">{{}}</td>
                        <td ng-click="treatmentBaseCtrl.open(batch.id)">{{batch.pliNumber}}</td>
                        <td ng-click="treatmentBaseCtrl.open(batch.id)">{{batch.integrationDate | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="main-pagination" ng-show="treatmentBaseCtrl.numberBatch">
                <uib-pagination total-items="treatmentBaseCtrl.numberBatch" ng-model="treatmentBaseCtrl.search.currentPage" max-size="25"
                    class="pagination-sm" rotate="false" first-text="Premier" last-text="Dernier" previous-text="Précédent" next-text="Suivant"
                    items-per-page="treatmentBaseCtrl.search.itemsPerPage" ng-click="treatmentBaseCtrl.loadBatchs()">
                </uib-pagination>
            </div>
        </div>  
        <!-- /.col-lg-8 -->

        <div class="col-lg-4">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <i class="fa fa-info-circle"></i> Informations
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <span>Corbeille de contrôle image</span>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->

            <div class="panel panel-success">
                <div class="panel-heading">
                    <i class="fa fa fa-search"></i> Recherche
                </div>
                <!-- /.panel-heading -->
                <form name="form" class="form-horizontal">
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="batchId" class="col-sm-4 control-label">Lot :</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="treatmentBaseCtrl.search.batchId" class="form-control" id="batchId" placeholder="chercher lot">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="startDate" class="col-sm-4 control-label">Date de début :</label>
                            <div class="col-sm-8">
                                <input type="date" ng-model="treatmentBaseCtrl.search.startDate" class="form-control" id="startDate">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="endDate" class="col-sm-4 control-label">Date de fin :</label>
                            <div class="col-sm-8">
                                <input type="date" ng-model="treatmentBaseCtrl.search.endDate" class="form-control" id="endDate">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="items" class="col-sm-4 control-label">Afficher :</label>
                            <div class="col-sm-8">
                                <select type="text" ng-model="treatmentBaseCtrl.search.itemsPerPage" id="itemPage" class="form-control">
                                    <option value="" disabled selected>Affichage par page</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                 </select>
                            </div>
                        </div>
                        <div class="alert alert-danger" ng-show="!treatmentBaseCtrl.search || treatmentBaseCtrl.search.startDate > treatmentBaseCtrl.search.endDate">
                            <strong>Attention !</strong> La date de fin ne peut pas être inférieure à la date de début.
                        </div>
                    </div>
                    <!-- /.panel-body -->
                    <div class="panel-footer text-right">
                        <button id="initDate" type="button" class="btn btn-danger" ng-click="treatmentBaseCtrl.initSearch()">Réinitialiser</button>
                        <button id="searchDate" type="button" class="btn btn-success" 
                            ng-disabled="!treatmentBaseCtrl.search || treatmentBaseCtrl.search.startDate > treatmentBaseCtrl.search.endDate"
                            ng-click="treatmentBaseCtrl.search && treatmentBaseCtrl.loadBatchs()">Rechercher</button>

                    </div>
                    <!-- /.panel-footer -->
                </form>
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-4 -->

    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->