<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConnectionStringWorkflow" value="data source=FOIDDS\FOICDT;initial catalog=Workflow2;user id=sa;pwd=SqlAdm@sql" />
    <add key="ConnectionStringCertificat" value="data source=FOIDDS\FOICDT;initial catalog=Certificat;user id=sa;pwd=SqlAdm@sql" />
    <add key="ConnectionStringFrontoffice" value="data source=FOIDDS\FOICDT;initial catalog=Frontoffice;user id=sa;pwd=SqlAdm@sql" />
    <add key="ConnectionStringCommunication" value="data source=FOIDDS\FOICDT;initial catalog=Communication;user id=sa;pwd=SqlAdm@sql" />
    <add key="ConnectionStringICON" value="data source=FOIDDS\FOICDT;initial catalog=ICON;user id=sa;pwd=SqlAdm@sql" />
    <add key="SMTPServer" value="foismtp" />
    <add key="IdApplication" value="31" />
    <add key="URLBase" value="http://Localhost/UIWebeKPI/" />
    
  </appSettings>
  
    <system.web>
      <pages validateRequest="false" enableEventValidation="false" theme="eKPI" enableSessionState="true" />
      
      <httpRuntime useFullyQualifiedRedirectUrl = "true" requestValidationMode="2.0" />
      
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />

      <httpHandlers>
        <add verb="*" path="BusyBoxDotNet.axd" type="BusyBoxDotNet.ResourceHttpHandler, BusyBoxDotNet" />
      </httpHandlers>

      <customErrors mode="Off" />

      <authentication mode="Forms">
        <forms loginUrl="~/Index.aspx" timeout="2880" cookieless="UseCookies" defaultUrl="~/Index.aspx" />
      </authentication>

      <membership defaultProvider="eKPIMembershipProvider">
        <providers>
          <clear />
          <add name="eKPIMembershipProvider" type="UIWebeKPI.eKPIMembershipProvider" connectionStringName="ConnectionStringeKPI" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" passwordFormat="Hashed" />
        </providers>
      </membership>

      <roleManager defaultProvider="eKPIRoleProvider" enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
        <providers>
          <clear />
          <add name="eKPIRoleProvider" type="UIWebeKPI.eKPIRoleProvider" connectionStringName="ConnectionStringeKPI" applicationName="SampleApplication" writeExceptionsToEventLog="false" />
        </providers>
      </roleManager>  
    </system.web>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add name="BusyBoxDotNet.axd_*" path="BusyBoxDotNet.axd" verb="*" type="BusyBoxDotNet.ResourceHttpHandler, BusyBoxDotNet" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json; charset=UTF-8" />
    </staticContent>
    
  </system.webServer>

</configuration>
