<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="ConnectionStringWorkflow" value="data source=FoiDQS\FoiDQP;initial catalog=Workflow2;Integrated Security=SSPI" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ConnectionStringCertificat" value="data source=FoiDQS\FoiDQP;initial catalog=Certificat;Integrated Security=SSPI" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ConnectionStringFrontoffice" value="data source=FoiDQS\FoiDQP;initial catalog=Frontoffice;Integrated Security=SSPI" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ConnectionStringCommunication" value="data source=FoiDQS\FoiDQP;initial catalog=Communication;Integrated Security=SSPI" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ConnectionStringICON" value="data source=FoiDQS\FoiDQP;initial catalog=ICON;Integrated Security=SSPI" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="URLBase" value="http://Localhost/UIWebeKPI/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>