@{
    ViewBag.Title = "Inicio";
}
<h1>@ViewBag.Title</h1>

<div>[Animación]</div>

@Html.ActionLink(@SolidQ.GNFNavidad14.Multilanguage.Resources.Home.Index.Index.SendToAFriend, "Create", "Contact", null, new { @class = "btn btn-default" })