<script type="text/ng-template" id="nodes_renderer.html">
    <div ui-tree-handle class="tree-node tree-node-content tree-handle">
        <i class="fa fa-inbox" data-ng-show="node.elementType===##IMAGE_CONTROLLER_BATCH##" title="Lot"></i>
        <i class="fa fa-envelope-o" data-ng-show="node.elementType===##IMAGE_CONTROLLER_ENVELOPE##" title="Pli"></i>
        <i class="fa fa-file-o" data-ng-show="node.elementType===##IMAGE_CONTROLLER_DOCUMENT##" title="Document"></i>
        <i class="fa fa-file-image-o" data-ng-show="node.elementType===##IMAGE_CONTROLLER_PAGE##" title="Page"></i>
        <span ng-class="{'text-danger':node.deleted}">{{node.label}}</span>
    </div>
    <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
        <li ng-repeat="node in node.nodes" ng-if="!node.deleted && !node.hidden" ui-tree-node ng-include="'nodes_renderer.html'">
        </li>
    </ol>
</script>
<div id="page-wrapper" class="mousetrap">
    <div class="row">
        <div class="col-lg-12">
            <!--<h2 class="page-header"><i class="fa fa-envelope-o"></i> Enveloppe : {{envelopeDetailCtrl.envelopeObject.label}}</h2>-->
            <ol class="breadcrumb breadcrumb-custom">
                <li>
                    <i class="fa fa-cubes "></i>Corbeilles de traitements
                </li>
                <li><a href="#/control-image/reject/{{rejectDetailCtrl.trayId}}">Rejets - Contrôle image</a></li>
                <li class="active">
                    <i class="fa fa-envelope-o"></i> {{rejectDetailCtrl.batchId}}
                </li>
            </ol>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
    
        <div class="col-lg-6 col-md-6 padding-right-10">
            <div class="col-lg-12 row">
                <div class="text-center">
                    <p>
                        <button class="btn btn-info" ng-click="rejectDetailCtrl.reset()"><i class="fa fa-file-o"></i></button>
                        <button class="btn btn-danger" ng-click="rejectDetailCtrl.rotate('left')"><i class="fa fa-rotate-left"></i></button>
                        <button class="btn btn-danger" ng-click="rejectDetailCtrl.rotate('right')"><i class="fa fa-rotate-right"></i></button>
                        <button class="btn btn-success" ng-click="rejectDetailCtrl.zoom(-1)"><i class="fa fa-search-minus"></i></button>
                        <button class="btn btn-success" ng-click="rejectDetailCtrl.zoom(1)"><i class="fa fa-search-plus"></i></button>
                        <button class="btn btn-warning" ng-click="rejectDetailCtrl.first()"><i class="fa fa-step-backward"></i></button>
                        <button class="btn btn-info" ng-click="rejectDetailCtrl.prev()"><i class="fa fa-fast-backward"></i></button>
                        <button class="btn btn-info" ng-click="rejectDetailCtrl.next()"><i class="fa fa-fast-forward"></i></button>
                        <button class="btn btn-warning" ng-click="rejectDetailCtrl.last()"><i class="fa fa-step-forward"></i></button>
                        <button class="btn btn-danger" ng-click="rejectDetailCtrl.remove()"><i class="fa fa-trash"></i></button>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-viewer">
                        <canvas-viewer src="fileInput" overlays="overlaysCanvasViewer" options="optionsCanvasViewer"></canvas-viewer>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col-lg-7 -->

        <div class="col-lg-6 col-md-6">
            <div class="row">
                <div>
                    <div class="panel panel-controls panel-warning">
                        <div class="panel-heading">Arborescence lot</div>
                        <div class="panel-body" style="height: 500px;overflow-y : scroll;">
                            <div ui-tree="treeOptions" id="tree-root">
                                <ol ui-tree-nodes ng-model="treeData">
                                    <li ng-repeat="node in treeData" ui-tree-node ng-include="'nodes_renderer.html'"></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div>
                        <div class="panel panel-info">
                            <div class="panel-heading">Actions lot</div>
                            <div class="panel-body">
                                <button class="btn btn-default" ng-click="rejectDetailCtrl.printBatch()">Imprimer</button>
                                <button class="btn btn-default" ng-click="rejectDetailCtrl.openPopPinRejectBatch()">Rejeter</button>
                                <button class="btn btn-default" ng-click="rejectDetailCtrl.deleteBatch()">Supprimer</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="panel panel-controls panel-warning">
                        <div class="panel-heading">Informations</div>
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="">Lot : {{batchTree.name}}</li>
                                <li class="">Nombre de plis : {{batchTree.envelopes.length}}</li>
                                <li class="">Canal : n/a</li>
                                <li class="">Job : n/a</li>
                                <li class="">Date d'intégration : {{batchTree.date |date:'dd/MM/yyyy'}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
                <!-- /.panel-body -->
        </div>
            <!-- /.panel -->
    </div>
    
        <!-- /.col-lg-5 -->
</div>
    <!-- /.row -->

    <!-- Modal to reject lot -->
    <div modal-show modal-visible="openPopPinRejectLot" class="modal fade" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><i class="fa fa-trash-o"></i> Rejeter le lot:</h4>
                </div>
                <div class="modal-body">
                    <form role="form" class="form-horizontal">
                        <div class="form-group">
                            <label for="select_reject" class="col-sm-3 control-label">Type de rejet:</label>
                            <div class="col-sm-9">
                                <select id="select_reject" class="form-control mousetrap" ng-model="rejectId" ng-options="rejectType.id as rejectType.label for rejectType in rejectTypesByBatch | orderBy:'label'"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="comment" class="col-sm-3 control-label">Commentaire :</label>
                            <div class="col-sm-9">
                                <textarea ng-model="comment" class="form-control" id="comment" placeholder="Pourquoi rejetez-vous ce lot ?" maxlength="250"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="rejectTypeSubmit" type="submit" class="btn btn-success" ng-click="rejectId && rejectDetailCtrl.rejectBatch(rejectId, comment)"
                        ng-disabled="!rejectId">Rejeter</button>
                    <button id="rejectTypeCancel" type="submit" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                </div>
            </div>
        </div>
    </div>
<!-- /#page-wrapper -->