<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header"><i class="fa fa-cogs" aria-hidden="true"></i> Batch intégration</h2>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <uib-tabset active="active">
        <uib-tab index="0" select="integrationBatchCtrl.loadXPathExpressions()">
            <uib-tab-heading>
                <i class="fa fa-code" aria-hidden="true"></i> Xpath expressions
            </uib-tab-heading>
            <br/>
            <div class="row">
                <div class="col-lg-3">
                    <!-- /.panel -->
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <i class="glyphicon glyphicon-edit"></i> Lot
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <form role="form">
                                <div class="form-group">
                                    <label for="batch">Lot:</label>
                                    <input type="text" ng-model="integrationBatchCtrl.xpathExpr.batch" class="form-control" id="batch" placeholder="XPath expression"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label for="batchName">Nom du Lot:</label>
                                    <input type="text" ng-model="integrationBatchCtrl.xpathExpr.batchName" class="form-control" id="batchName" placeholder="XPath expression"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label for="batchId">Id du Lot:</label>
                                    <input type="text" ng-model="integrationBatchCtrl.xpathExpr.batchId" class="form-control" id="batchId" placeholder="XPath expression"
                                        required>
                                </div>
                            </form>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-3 -->

                <div class="col-lg-3">
                    <!-- /.panel -->
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <i class="glyphicon glyphicon-edit"></i> Enveloppe
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <form role="form">
                                <div class="form-group">
                                    <label for="enevelope">Enveloppe:</label>
                                    <input type="text" ng-model="integrationBatchCtrl.xpathExpr.envelope" class="form-control" id="enevelope" placeholder="XPath expression"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label for="enevelope">Url de l'enveloppe:</label>
                                    <input type="text" ng-model="integrationBatchCtrl.xpathExpr.envelopeUrl" class="form-control" id="enevelope" placeholder="XPath expression"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label for="enevelope">Id de l'enveloppe</label>
                                    <input type="text" ng-model="integrationBatchCtrl.xpathExpr.envelopeId" class="form-control" id="enevelope" placeholder="XPath expression"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label for="page">Indice référentiel de l'enveloppe:</label>
                                    <input type="text" ng-model="integrationBatchCtrl.xpathExpr.refIndexEnv" class="form-control" id="indiceEnvValue" placeholder="XPath expression"
                                        required>
                                </div>
                            </form>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-3 -->

                <div class="col-lg-3">
                    <!-- /.panel -->
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <i class="glyphicon glyphicon-edit"></i> Document
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <form role="form">
                                <div class="form-group">
                                    <label for="document">Document:</label>
                                    <input type="text" ng-model="integrationBatchCtrl.xpathExpr.document" class="form-control" id="document" placeholder="XPath expression"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label for="documentName">Nom du document:</label>
                                    <input type="text" ng-model="integrationBatchCtrl.xpathExpr.documentName" class="form-control" id="documentName" placeholder="XPath expression"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label for="documentType">Type du document:</label>
                                    <input type="text" ng-model="integrationBatchCtrl.xpathExpr.documentType" class="form-control" id="documentType" placeholder="XPath expression"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label for="pageName">Indice référentiel du document:</label>
                                    <input type="text" ng-model="integrationBatchCtrl.xpathExpr.refIndexDoc" class="form-control" id="indiceDocValue" placeholder="XPath expression"
                                        required>
                                </div>
                            </form>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-3 -->

                <div class="col-lg-3">
                    <!-- /.panel -->
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <i class="glyphicon glyphicon-edit"></i> Page
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <form role="form">
                                <div class="form-group">
                                    <label for="page">Page:</label>
                                    <input type="text" ng-model="integrationBatchCtrl.xpathExpr.page" class="form-control" id="page" placeholder="XPath expression"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label for="pageName">Nom de page:</label>
                                    <input type="text" ng-model="integrationBatchCtrl.xpathExpr.pageName" class="form-control" id="pageName" placeholder="XPath expression"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label for="pageType">Type de page:</label>
                                    <input type="text" ng-model="integrationBatchCtrl.xpathExpr.pageType" class="form-control" id="pageType" placeholder="XPath expression"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label for="pagePicture">Image de page:</label>
                                    <input type="text" ng-model="integrationBatchCtrl.xpathExpr.pagePicture" class="form-control" id="pagePicture" placeholder="XPath expression"
                                        required>
                                </div>
                            </form>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-3 -->

            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <button type="submit" class="btn btn-success pull-right" ng-click="integrationBatchCtrl.saveXpathExpressions()">Enregistrer</button>
                </div>
                <!-- /.col-lg-3 -->
            </div>
            <!-- /.row -->

        </uib-tab>
        <uib-tab index="1" select="integrationBatchCtrl.loadRegex()">
            <uib-tab-heading>
                <i class="fa fa-map-signs" aria-hidden="true"></i> Expressions régulières
            </uib-tab-heading>
            <br/>

            <div class="row">
                <div class="col-lg-12">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
                        <input type="text" ng-model="search" class="form-control" placeholder="CHERCHER" aria-describedby="basic-addon1">
                        <span class="input-group-btn"> <button class="btn btn-success" type="button" ng-disabled="!integrationBatchCtrl.referentialQueries.length" ng-click="integrationBatchCtrl.openPopinRegexAdd = true"id="basic-addon1"><i class="fa fa-plus-circle" aria-hidden="true"></i> AJOUTER</button></span>
                    </div>
                    <br>
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr class="warning">
                                <th>Libellé</th>
                                <th>Expression</th>
                                <th>Libellé requêtes</th>
                                <th class="text-center">Date de création</th>
                                <th class="text-center">Dernière modification</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="regex in integrationBatchCtrl.regexList.slice(((integrationBatchCtrl.currentPage-1)*integrationBatchCtrl.itemsPerPage), ((integrationBatchCtrl.currentPage)*integrationBatchCtrl.itemsPerPage)) | filter : search">
                                <td>{{regex.label}}</td>
                                <td>{{regex.regex}}</td>
                                <td>{{regex.referencialQuery.label}}</td>
                                <td class="text-center">{{regex.createDate | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                                <td class="text-center">{{regex.updateDate | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                                <td class="text-center">
                                    <button title="Modifier" type="button" class="btn btn-sm btn-success fa fa-pencil-square-o" ng-click="integrationBatchCtrl.prepareUpdateRegex(regex)"></button>
                                    <button title="Supprimer" type="button" class="btn btn-sm btn-danger fa fa-trash-o" ng-click="integrationBatchCtrl.prepareDeleteRegex(regex)"></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="main-pagination" ng-show="integrationBatchCtrl.regexList && integrationBatchCtrl.regexList.length!=0">
                        <uib-pagination total-items="integrationBatchCtrl.regexList.length" ng-model="integrationBatchCtrl.currentPage" max-size="integrationBatchCtrl.maxSize"
                            class="pagination-sm" rotate="false" first-text="Premier" last-text="Dernier" previous-text="Précédent"
                            next-text="Suivant" items-per-page="integrationBatchCtrl.itemsPerPage">
                        </uib-pagination>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12" ng-if="integrationBatchCtrl.regexList.length > 0">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-sort-numeric-asc" aria-hidden="true"></i> priorité
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row" ui-sortable="{'ui-floating': true}" ng-model="integrationBatchCtrl.regexListSortable">
                                <div class="col-lg-2 col-md-4" ng-repeat="regex in integrationBatchCtrl.regexListSortable">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading text-center">{{$index + 1}}</div>
                                        <div class="panel-body ">
                                            {{regex.label}}
                                        </div>
                                    </div>
                                    <!-- /.panel -->
                                </div>
                            </div>
                            <!-- /.row -->
                            <button type="button" class="btn btn-success pull-right" ng-click="integrationBatchCtrl.updateRegexPriority()">Valider </button>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

            <!-- Modal to add regex -->
            <div modal-show modal-visible="integrationBatchCtrl.openPopinRegexAdd" class="modal fade" data-keyboard="false" data-backdrop="static">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title"> <i class="fa fa-pencil" aria-hidden="true"></i> Nouvelle expression régulière</h4>
                        </div>
                        <form role="form_update" class="form-horizontal">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="label" class="col-sm-2 control-label">Libellé:</label>
                                    <div class="col-sm-10">
                                        <input type="text" ng-model="integrationBatchCtrl.regexAdd.label" class="form-control" id="label" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="regex" class="col-sm-2 control-label">Expression:</label>
                                    <div class="col-sm-10">
                                        <input type="text" ng-model="integrationBatchCtrl.regexAdd.regex" class="form-control" id="regex" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="type" class="col-sm-2 control-label">Requête:</label>
                                    <div class="col-sm-10">
                                        <select id="selectTray" class="form-control" ng-model="integrationBatchCtrl.regexAdd.referencialQuery.id" ng-options="query.id as query.label for query in integrationBatchCtrl.referentialQueries"
                                            required>
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-danger" ng-click="integrationBatchCtrl.regexAdd = undefined" data-dismiss="modal">Annuler</button>
                                <button type="submit" class="btn btn-success" ng-disabled="!integrationBatchCtrl.isRegexFilled(integrationBatchCtrl.regexAdd)"
                                    ng-click="integrationBatchCtrl.createRegex()">Valider</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Modal to update regex -->
            <div modal-show modal-visible="integrationBatchCtrl.openPopinRegexEdit" class="modal fade" data-keyboard="false" data-backdrop="static">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title"> <i class="fa fa-pencil" aria-hidden="true"></i> Modifier l'expression régulière</h4>
                        </div>
                        <form role="form_update" class="form-horizontal">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="label" class="col-sm-2 control-label">Libellé:</label>
                                    <div class="col-sm-10">
                                        <input type="text" ng-model="integrationBatchCtrl.regexEdit.label" class="form-control" id="label" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="regex" class="col-sm-2 control-label">Expression:</label>
                                    <div class="col-sm-10">
                                        <input type="text" ng-model="integrationBatchCtrl.regexEdit.regex" class="form-control" id="regex" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="type" class="col-sm-2 control-label">Requête:</label>
                                    <div class="col-sm-10">
                                        <select id="selectTray" class="form-control" ng-model="integrationBatchCtrl.regexEdit.referencialQuery.id" ng-options="query.id as query.label for query in integrationBatchCtrl.referentialQueries"
                                            required>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-danger" ng-click="integrationBatchCtrl.regexEdit = undefined" data-dismiss="modal">Annuler</button>
                                <button type="submit" class="btn btn-success" ng-disabled="!integrationBatchCtrl.isRegexFilled(integrationBatchCtrl.regexEdit)"
                                    ng-click="integrationBatchCtrl.updateRegex()">Valider</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Modal to delete regex -->
            <div modal-show modal-visible="integrationBatchCtrl.openPopinRegexConfirm" class="modal fade" data-keyboard="false" data-backdrop="static">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Confirmation</h4>
                        </div>
                        <div class="modal-body">
                            <p>Êtes-vous sûr de vouloir supprimer définitivement l'expression régulière : <strong>{{integrationBatchCtrl.regexEdit.label}}</strong></p>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-danger" ng-click="integrationBatchCtrl.regexEdit = undefined" data-dismiss="modal">Annuler</button>
                            <button type="submit" class="btn btn-success" ng-click="integrationBatchCtrl.confirmDeleteRegex()">Valider</button>
                        </div>
                    </div>
                </div>
            </div>

        </uib-tab>
    </uib-tabset>
</div>
<!-- /#page-wrapper -->