<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <!--<h2 class="page-header"><i class="fa fa-cube" aria-hidden="true"></i> Corbeille : {{trayDetailCtrl.tray.label}}</h2>-->
            <ol class="breadcrumb breadcrumb-custom">
                <li>
                    <i class="fa fa-cubes "></i><a href="#/home"> Corbeilles de traitements</a>
                </li>
                <li class="active">
                    <i class="fa fa-cube"></i> {{trayDetailCtrl.tray.label}}
                </li>
            </ol>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row">

        <div class="col-lg-8" ng-show="!trayDetailCtrl.envelopesSearch || !trayDetailCtrl.envelopesSearch.total">
            <div class="panel panel-danger">
                <div class="panel-body">
                    <span>Pas d'enveloppe dans cette corbeille / Aucune enveloppe ne correspond aux critères de recherche</span>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-8 -->

        <div class="col-lg-8" ng-show="trayDetailCtrl.envelopesSearch && trayDetailCtrl.envelopesSearch.total">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr class="warning">
                        <th>
                            <a ng-click="trayDetailCtrl.search.sortType = 'idEnvelope'; trayDetailCtrl.search.sortReverse = !trayDetailCtrl.search.sortReverse ; trayDetailCtrl.loadEnvelopesByCriteria()">
                                <span ng-show="trayDetailCtrl.search.sortType == 'idEnvelope' && !trayDetailCtrl.search.sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="trayDetailCtrl.search.sortType == 'idEnvelope' && trayDetailCtrl.search.sortReverse" class="fa fa-caret-up"></span>                                Enveloppe
                            </a>
                        </th>
                        <th>
                            <a ng-click="trayDetailCtrl.search.sortType = 'batch.batNumber'; trayDetailCtrl.search.sortReverse = !trayDetailCtrl.search.sortReverse; trayDetailCtrl.loadEnvelopesByCriteria()">
                                <span ng-show="trayDetailCtrl.search.sortType == 'batch.batNumber' && !trayDetailCtrl.search.sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="trayDetailCtrl.search.sortType == 'batch.batNumber' && trayDetailCtrl.search.sortReverse" class="fa fa-caret-up"></span>                                Lot
                            </a>
                        </th>
                        <th ng-if="trayDetailCtrl.tray.type.code === '##TRAY_REJECT_TYPE##'">
                            <a ng-click="trayDetailCtrl.search.sortType = 'envComment'; trayDetailCtrl.search.sortReverse = !trayDetailCtrl.search.sortReverse; trayDetailCtrl.loadEnvelopesByCriteria()">
                                <span ng-show="trayDetailCtrl.search.sortType == 'envComment' && !trayDetailCtrl.search.sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="trayDetailCtrl.search.sortType == 'envComment' && trayDetailCtrl.search.sortReverse" class="fa fa-caret-up"></span>                                Type de rejet
                            </a>
                        </th>
                        <th>
                            <a ng-click="trayDetailCtrl.search.sortType = 'createDate'; trayDetailCtrl.search.sortReverse = !trayDetailCtrl.search.sortReverse; trayDetailCtrl.loadEnvelopesByCriteria()">
                                <span ng-show="trayDetailCtrl.search.sortType == 'createDate' && !trayDetailCtrl.search.sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="trayDetailCtrl.search.sortType == 'createDate' && trayDetailCtrl.search.sortReverse" class="fa fa-caret-up"></span>                                Date d'intégration
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="envelope in trayDetailCtrl.envelopesSearch.envelopes">
                        <td ng-click="trayDetailCtrl.openEnvelope(envelope.id)"><span class="fa fa-envelope-o text-primary"> {{envelope.id}}</span></td>
                        <td ng-click="trayDetailCtrl.openEnvelope(envelope.id)">{{envelope.batchId}}</td>
                        <td ng-if="trayDetailCtrl.tray.type.code === '##TRAY_REJECT_TYPE##'" ng-click="trayDetailCtrl.openEnvelope(envelope.id)">{{envelope.comment}}</td>
                        <td ng-click="trayDetailCtrl.openEnvelope(envelope.id)">{{envelope.createDate | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="main-pagination" ng-show="trayDetailCtrl.envelopesSearch.total">
                <uib-pagination total-items="trayDetailCtrl.envelopesSearch.total" ng-model="trayDetailCtrl.search.currentPage" max-size="25"
                    class="pagination-sm" rotate="false" first-text="Premier" last-text="Dernier" previous-text="Précédent" next-text="Suivant"
                    items-per-page="trayDetailCtrl.search.itemsPerPage" ng-click="trayDetailCtrl.loadEnvelopesByCriteria()">
                </uib-pagination>
            </div>
        </div>
        <!-- /.col-lg-8 -->

        <div class="col-lg-4">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <i class="fa fa-info-circle"></i> Informations
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <span>{{trayDetailCtrl.tray.comment}}</span>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->

            <div class="panel panel-success">
                <div class="panel-heading">
                    <i class="fa fa fa-search"></i> Recherche
                </div>
                <!-- /.panel-heading -->
                <form name="form" class="form-horizontal">
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="envelopeId" class="col-sm-4 control-label">Enveloppe :</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="trayDetailCtrl.search.envelopeId" class="form-control" id="envelopeId" placeholder="chercher enveloppe">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="batchId" class="col-sm-4 control-label">Lot :</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="trayDetailCtrl.search.batchId" class="form-control" id="batchId" placeholder="chercher lot">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="startDate" class="col-sm-4 control-label">Date de début :</label>
                            <div class="col-sm-8">
                                <input type="date" ng-model="trayDetailCtrl.search.startDate" class="form-control" id="startDate">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="endDate" class="col-sm-4 control-label">Date de fin :</label>
                            <div class="col-sm-8">
                                <input type="date" ng-model="trayDetailCtrl.search.endDate" class="form-control" id="endDate">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="items" class="col-sm-4 control-label">Afficher :</label>
                            <div class="col-sm-8">
                                <select type="text" ng-model="trayDetailCtrl.search.itemsPerPage" id="itemPage" class="form-control">
                                    <option value="" disabled selected>Affichage par page</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                 </select>
                            </div>
                        </div>
                        <div class="alert alert-danger" ng-show="!trayDetailCtrl.search || trayDetailCtrl.search.startDate > trayDetailCtrl.search.endDate">
                            <strong>Attention !</strong> La date de fin ne peut pas être inférieure à la date de début.
                        </div>
                    </div>
                    <!-- /.panel-body -->
                    <div class="panel-footer text-right">
                        <button id="initDate" type="button" class="btn btn-danger" ng-click="trayDetailCtrl.initSearch()">Réinitialiser</button>
                        <button id="searchDate" type="button" class="btn btn-success" ng-disabled="!trayDetailCtrl.search || trayDetailCtrl.search.startDate > trayDetailCtrl.search.endDate"
                            ng-click="trayDetailCtrl.search && trayDetailCtrl.loadEnvelopesByCriteria()">Rechercher</button>

                    </div>
                    <!-- /.panel-footer -->
                </form>
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-4 -->

    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->