<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header"><i class="fa fa-cubes" aria-hidden="true"></i> Corbeilles de traitements</h2>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-wrench fa-fw"></i> Administration
                </li>
                <li class="active">
                    <i class="fa fa-cogs"></i> Gestion des Corbeilles
                </li>
            </ol>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
                <input type="text" ng-model="search" class="form-control" placeholder="CHERCHER"
                       aria-describedby="basic-addon1">
                <span class="input-group-btn"> <button class="btn btn-success" type="button"
                                                       ng-click="adminTrayCtrl.openPopinAdd = true" id="basic-addon1"><i
                        class="fa fa-plus-circle" aria-hidden="true"></i> AJOUTER</button></span>
            </div>
            <br>
            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr class="warning">
                    <th>Libellé</th>
                    <th>Type</th>
                    <th> Sous type</th>
                    <th>Statut</th>
                    <th>Date de création</th>
                    <th>Dernière modification</th>
                    <th class="text-center">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="tray in adminTrayCtrl.trays | filter : search | limitTo : adminTrayCtrl.itemsPerPage : (adminTrayCtrl.currentPage-1)*adminTrayCtrl.itemsPerPage">
                    <td>{{tray.label}}</td>
                    <td>{{tray.type.label}}</td>
                    <td>{{tray.structuralEntityType.label}}</td>
                    <td>{{tray.enabled ? 'Active' : 'Désactive'}}</td>
                    <td>{{tray.createDate | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                    <td>{{tray.updateDate | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                    <td class="text-center">
                        <button type="button" title="Modifier" class="btn btn-sm btn-success fa fa-pencil-square-o"
                                ng-click="adminTrayCtrl.prepareUpdateTray(tray)"></button>
                        <button type="button" title="Supprimer" class="btn btn-sm btn-danger fa fa-trash-o"
                                ng-click="adminTrayCtrl.prepareDeleteTray(tray)"></button>
                        <button type="button" title="Gérer les types d'envelope/document"
                                class="btn btn-sm btn-info fa fa-tags"
                                ng-click="adminTrayCtrl.manageTrayDocType(tray)"></button>
                        <button title="Gérer les indexes" type="button" class="btn btn-sm btn-primary fa fa-link"
                                ng-disabled="tray.type.code!=='IDX'"
                                ng-click="adminTrayCtrl.openTrayIndexesAffectation(tray)"></button>
                        <button title="Gérer les autorisations" type="button" class="btn btn-sm btn-warning fa fa-users"
                                ng-click="adminTrayCtrl.openTrayRolesAffectation(tray)"></button>
                        <button title="Gérer les rejets" type="button"
                                class="btn btn-sm btn-danger fa fa-share-square-o"
                                ng-click="adminTrayCtrl.openTrayRejectsAffectation(tray)"></button>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="main-pagination" ng-show="adminTrayCtrl.trays && adminTrayCtrl.trays.length!=0">
                <uib-pagination total-items="adminTrayCtrl.trays.length" ng-model="adminTrayCtrl.currentPage"
                                max-size="adminTrayCtrl.maxSize"
                                class="pagination-sm" rotate="false" first-text="Premier" last-text="Dernier"
                                previous-text="Précédent" next-text="Suivant"
                                items-per-page="adminTrayCtrl.itemsPerPage">
                </uib-pagination>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <!-- Modal to add a tray -->
    <div modal-show modal-visible="adminTrayCtrl.openPopinAdd" class="modal fade" data-keyboard="false"
         data-backdrop="static">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><i class="fa fa-pencil" aria-hidden="true"></i> Ajouter une corbeille</h4>
                </div>
                <form role="form_create_tray" class="form-horizontal">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="label" class="col-sm-2 control-label">Libellé :</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="adminTrayCtrl.trayAdd.label" class="form-control"
                                       id="label" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="color" class="col-sm-2 control-label">Couleur :</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="color" ng-model="adminTrayCtrl.trayAdd.color" required>
                                    <option class="text-{{label}}" value="{{label}}"
                                            ng-repeat=" label in ['default','primary', 'success','info', 'warning','danger']">
                                        {{label}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="color" class="col-sm-2 control-label">Icône :</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="adminTrayCtrl.trayAdd.icon" class="form-control" id="label"
                                       required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="type" class="col-sm-2 control-label">Type :</label>
                            <div class="col-sm-10">
                                <select id="type" ng-model="adminTrayCtrl.trayAdd.type.id" class="form-control"
                                        ng-options="trayType.id as trayType.label for trayType in adminTrayCtrl.trayTypes"
                                        required></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="type" class="col-sm-2 control-label">Niveau :</label>
                            <div class="col-sm-10">
                                <select id="type" ng-model="adminTrayCtrl.trayAdd.structuralEntityType.id"
                                        class="form-control"
                                        ng-options="traySubType.id as traySubType.label for traySubType in adminTrayCtrl.structuralEntityTypes"
                                        required></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="searchType" class="col-sm-2 control-label">Recherche :</label>
                            <div class="col-sm-10">
                                <select ng-model="adminTrayCtrl.trayAdd.envSearch.id" class="form-control"
                                        ng-options="envSearch.id as envSearch.label for envSearch in adminTrayCtrl.searchCriterion"
                                        required></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="accordionCloseOthers" class="col-sm-2 control-label">Accordéon :</label>
                            <div class="col-sm-10">
                                <select class="form-control" ng-model="adminTrayCtrl.trayAdd.accordionCloseOthers"
                                        required>
                                    <option value="true" ng-selected="true">Fermer les autres accordéon</option>
                                    <option value="false">Laisser ouvert les autres accordéons</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="comment" class="col-sm-2 control-label">Commentaire&nbsp;:</label>
                            <div class="col-sm-10">
                                <textarea ng-model="adminTrayCtrl.trayAdd.comment" class="form-control"
                                          id="comment"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="print" class="col-sm-2 control-label">Imprimer&nbsp;pdf :</label>
                            <div class="col-sm-10">
                                <input ng-model="adminTrayCtrl.trayAdd.canPrint" type="checkbox">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="active" class="col-sm-2 control-label">Active :</label>
                            <div class="col-sm-10">
                                <input ng-model="adminTrayCtrl.trayAdd.enabled" type="checkbox">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" ng-click="adminTrayCtrl.trayAdd = undefined"
                                data-dismiss="modal">Annuler
                        </button>
                        <button type="button" class="btn btn-success"
                                ng-disabled="!adminTrayCtrl.isTrayFilled(adminTrayCtrl.trayAdd)"
                                ng-click="adminTrayCtrl.createTray()">Ajouter
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal to update a tray -->
    <div modal-show modal-visible="adminTrayCtrl.openPopinEdit" class="modal fade" data-keyboard="false"
         data-backdrop="static">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><i class="fa fa-pencil" aria-hidden="true"></i> Modifier la corbeille</h4>
                </div>
                <form role="form_update_tray" class="form-horizontal">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="label" class="col-sm-2 control-label">Libellé :</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="adminTrayCtrl.trayEdit.label" class="form-control"
                                       id="label" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="color" class="col-sm-2 control-label">Couleur :</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="color" ng-model="adminTrayCtrl.trayEdit.color"
                                        required>
                                    <option class="text-{{label}}" value="{{label}}"
                                            ng-repeat=" label in ['default','primary', 'success','info', 'warning','danger']">
                                        {{label}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="color" class="col-sm-2 control-label">Icône :</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="adminTrayCtrl.trayEdit.icon" class="form-control"
                                       id="label" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="type" class="col-sm-2 control-label">Type :</label>
                            <div class="col-sm-10">
                                <select id="type" ng-model="adminTrayCtrl.trayEdit.type.id" class="form-control"
                                        ng-options="trayType.id as trayType.label for trayType in adminTrayCtrl.trayTypes"
                                        required></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="type" class="col-sm-2 control-label">Niveau :</label>
                            <div class="col-sm-10">
                                <select id="type" ng-model="adminTrayCtrl.trayEdit.structuralEntityType.id"
                                        class="form-control"
                                        ng-options="traySubType.id as traySubType.label for traySubType in adminTrayCtrl.structuralEntityTypes"
                                        required></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="searchType" class="col-sm-2 control-label">Recherche :</label>
                            <div class="col-sm-10">
                                <select ng-model="adminTrayCtrl.trayEdit.envSearch.id" class="form-control"
                                        ng-options="envSearch.id as envSearch.label for envSearch in adminTrayCtrl.searchCriterion"
                                        required></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="accordionCloseOthers" class="col-sm-2 control-label">Accordéon :</label>
                            <div class="col-sm-10">
                                <select class="form-control" ng-model="adminTrayCtrl.trayEdit.accordionCloseOthers"
                                        required>
                                    <option ng-selected="adminTrayCtrl.trayEdit.accordionCloseOthers === true"
                                            value="true">Fermer les autres accordéon
                                    </option>
                                    <option ng-selected="adminTrayCtrl.trayEdit.accordionCloseOthers === false"
                                            value="false">Laisser ouvert les autres accordéons
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="comment" class="col-sm-2 control-label">Commentaire&nbsp;:</label>
                            <div class="col-sm-10">
                                <textarea ng-model="adminTrayCtrl.trayEdit.comment" class="form-control"
                                          id="comment"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="print" class="col-sm-2 control-label">Imprimer&nbsp;pdf :</label>
                            <div class="col-sm-10">
                                <input ng-model="adminTrayCtrl.trayEdit.canPrint" type="checkbox">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="active" class="col-sm-2 control-label">Active :</label>
                            <div class="col-sm-10">
                                <input ng-model="adminTrayCtrl.trayEdit.enabled" type="checkbox">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-success"
                                ng-disabled="!adminTrayCtrl.isTrayFilled(adminTrayCtrl.trayEdit)"
                                ng-click="adminTrayCtrl.updateTray()">Valider
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal to delete a tray -->
    <div modal-show modal-visible="adminTrayCtrl.openPopinConfirm" class="modal fade" data-keyboard="false"
         data-backdrop="static">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p>Êtes-vous sûr de vouloir supprimer définitivement la corbeille : <strong>{{adminTrayCtrl.trayEdit.label}}</strong>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-success" ng-click="adminTrayCtrl.confirmDeleteTray()">Valider
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal role affectation -->
    <div modal-show modal-visible="adminTrayCtrl.openPopinDocTypesAffectation" class="modal fade" data-keyboard="false"
         data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Affectation des types de document pour la corbeille :
                        {{adminTrayCtrl.trayDocTypesAffectation.tray.label}}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="panel panel-primary">
                                <div class="panel-heading">Types de document existant</div>
                                <div class="panel-body">
                                    <ul ui-sortable="adminTrayCtrl.sortableOptions"
                                        class="list-group connectedList ul-noStyle"
                                        ng-model="adminTrayCtrl.trayDocTypesAffectation.unaffectedDocTypes">
                                        <li class="list-group-item list-group-item-warning"
                                            ng-repeat="docType in adminTrayCtrl.trayDocTypesAffectation.unaffectedDocTypes">
                                            {{docType.label}} ({{docType.code}}) <i
                                                class="fa fa-hand-paper-o pull-right" aria-hidden="true"></i></li>
                                        <li ng-show="adminTrayCtrl.trayDocTypesAffectation.unaffectedDocTypes.length==0">
                                            &nbsp;
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <div class="panel panel-primary">
                                <div class="panel-heading">Types de document sur la corbeille</div>
                                <div class="panel-body">
                                    <ul ui-sortable="adminTrayCtrl.sortableOptions"
                                        class="list-group connectedList ul-noStyle"
                                        ng-model="adminTrayCtrl.trayDocTypesAffectation.affectedDocTypes">
                                        <li class="list-group-item list-group-item-success"
                                            ng-repeat="docType in adminTrayCtrl.trayDocTypesAffectation.affectedDocTypes">
                                            {{docType.label}} ({{docType.code}}) <i
                                                class="fa fa-hand-paper-o pull-right" aria-hidden="true"></i></li>
                                        <li ng-show="adminTrayCtrl.trayDocTypesAffectation.affectedDocTypes.length==0">
                                            &nbsp;
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.col-lg-6 -->
                    </div>
                    <!-- /.row -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-success" ng-click="adminTrayCtrl.validateTrayDocTypes()">
                        Valider
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal envelope type affectation -->
    <div modal-show modal-visible="adminTrayCtrl.openPopinEnvTypesAffectation" class="modal fade" data-keyboard="false"
         data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Affectation des types d'envelope pour la corbeille :
                        {{adminTrayCtrl.trayEnvTypesAffectation.tray.label}}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="panel panel-primary">
                                <div class="panel-heading">Types d'envelope existant</div>
                                <div class="panel-body">
                                    <ul ui-sortable="adminTrayCtrl.sortableOptions"
                                        class="list-group connectedList ul-noStyle"
                                        ng-model="adminTrayCtrl.trayEnvTypesAffectation.unaffectedEnvTypes">
                                        <li class="list-group-item list-group-item-warning"
                                            ng-repeat="docType in adminTrayCtrl.trayEnvTypesAffectation.unaffectedEnvTypes">
                                            {{docType.label}} ({{docType.code}}) <i
                                                class="fa fa-hand-paper-o pull-right" aria-hidden="true"></i></li>
                                        <li ng-show="!adminTrayCtrl.trayEnvTypesAffectation.unaffectedEnvTypes.length">
                                            &nbsp;
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <div class="panel panel-primary">
                                <div class="panel-heading">Types d'envelope sur la corbeille</div>
                                <div class="panel-body">
                                    <ul ui-sortable="adminTrayCtrl.sortableOptions"
                                        class="list-group connectedList ul-noStyle"
                                        ng-model="adminTrayCtrl.trayEnvTypesAffectation.affectedEnvTypes">
                                        <li class="list-group-item list-group-item-success"
                                            ng-repeat="docType in adminTrayCtrl.trayEnvTypesAffectation.affectedEnvTypes">
                                            {{docType.label}} ({{docType.code}}) <i
                                                class="fa fa-hand-paper-o pull-right" aria-hidden="true"></i></li>
                                        <li ng-show="!adminTrayCtrl.trayEnvTypesAffectation.affectedEnvTypes.length">
                                            &nbsp;
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.col-lg-6 -->
                    </div>
                    <!-- /.row -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-success" ng-click="adminTrayCtrl.validateTrayEnvTypes()">
                        Valider
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal role affectation -->
    <div modal-show modal-visible="adminTrayCtrl.openPopinRoleAffectation" class="modal fade" data-keyboard="false"
         data-backdrop="static">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Affectation des
                        rôles sur la corbeille : {{adminTrayCtrl.trayRolesAffectation.tray.label}}
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="panel panel-primary">
                                <div class="panel-heading">Liste de rôles Existants</div>
                                <div class="panel-body">
                                    <ul ui-sortable="adminTrayCtrl.sortableOptions"
                                        class="list-group connectedList ul-noStyle"
                                        ng-model="adminTrayCtrl.trayRolesAffectation.unaffectedRoles">
                                        <li class="list-group-item list-group-item-warning"
                                            ng-repeat="role in adminTrayCtrl.trayRolesAffectation.unaffectedRoles">
                                            {{role.label}}<i class="fa fa-hand-paper-o pull-right"
                                                             aria-hidden="true"></i></li>
                                        <li ng-show="adminTrayCtrl.trayRolesAffectation.unaffectedRoles.length==0">
                                            &nbsp;
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <div class="panel panel-primary">
                                <div class="panel-heading">Liste de rôles sur la corbeille</div>
                                <div class="panel-body">
                                    <ul ui-sortable="adminTrayCtrl.sortableOptions"
                                        class="list-group connectedList ul-noStyle"
                                        ng-model="adminTrayCtrl.trayRolesAffectation.affectedRoles">
                                        <li class="list-group-item list-group-item-success"
                                            ng-repeat="role in adminTrayCtrl.trayRolesAffectation.affectedRoles">
                                            {{role.label}} <i class="fa fa-hand-paper-o pull-right"
                                                              aria-hidden="true"></i></li>
                                        <li ng-show="adminTrayCtrl.trayRolesAffectation.affectedRoles.length==0">
                                            &nbsp;
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.col-lg-5 -->
                    </div>
                    <!-- /.row -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-success" ng-click="adminTrayCtrl.validateTrayRoles()">Valider
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal indexes affectation -->
    <div modal-show modal-visible="adminTrayCtrl.openPopinIndexAffectation" class="modal fade" data-keyboard="false"
         data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Affectation des indexes pour la corbeille :
                        {{adminTrayCtrl.trayIndexesAffectation.tray.label}}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="panel panel-primary">
                                <div class="panel-heading">Liste d'indexs Existants</div>
                                <div class="panel-body">
                                    <ul ui-sortable="adminTrayCtrl.sortableOptions"
                                        class="list-group connectedList ul-noStyle"
                                        ng-model="adminTrayCtrl.trayIndexesAffectation.unaffectedIndexes">
                                        <li class="list-group-item list-group-item-warning"
                                            ng-repeat="index in adminTrayCtrl.trayIndexesAffectation.unaffectedIndexes">
                                            {{index.label}}<i class="fa fa-hand-paper-o pull-right"
                                                              aria-hidden="true"></i></li>
                                        <li ng-show="adminTrayCtrl.trayIndexesAffectation.unaffectedIndexes.length==0">
                                            &nbsp;
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <div class="panel panel-primary">
                                <div class="panel-heading">Liste d'indexs sur corbeille</div>
                                <div class="panel-body">
                                    <ul ui-sortable="adminTrayCtrl.sortableOptions"
                                        class="list-group connectedList ul-noStyle"
                                        ng-model="adminTrayCtrl.trayIndexesAffectation.affectedIndexes">
                                        <li class="list-group-item list-group-item-success"
                                            ng-repeat="index in adminTrayCtrl.trayIndexesAffectation.affectedIndexes"
                                            ng-click="adminTrayCtrl.openAffectedTrayIndexeEdition(index)">
                                            {{index.label}}<i class="fa fa-hand-paper-o pull-right"
                                                              aria-hidden="true"></i>
                                        </li>
                                        <li ng-show="adminTrayCtrl.trayIndexesAffectation.affectedIndexes.length==0">
                                            &nbsp;
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.col-lg-6 -->
                    </div>
                    <!-- /.row -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-success" ng-click="adminTrayCtrl.validateTrayIndexes()">
                        Valider
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal trayRejects affectation -->
    <div modal-show modal-visible="adminTrayCtrl.openPopinRejectAffectation" class="modal fade" data-keyboard="false"
         data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Affectation des rejets pour la corbeille :
                        {{adminTrayCtrl.trayRejectsAffectation.tray.label}}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="panel panel-primary">
                                <div class="panel-heading">Liste des rejets Existants</div>
                                <div class="panel-body">
                                    <ul ui-sortable="adminTrayCtrl.sortableOptions"
                                        class="list-group connectedList ul-noStyle"
                                        ng-model="adminTrayCtrl.trayRejectsAffectation.unaffectedRejects">
                                        <li class="list-group-item list-group-item-warning"
                                            ng-repeat="rejectType in adminTrayCtrl.trayRejectsAffectation.unaffectedRejects">
                                            {{rejectType.label}} ({{rejectType.structuralEntityType.label}})<i
                                                class="fa fa-hand-paper-o pull-right" aria-hidden="true"></i></li>
                                        <li ng-show="!adminTrayCtrl.trayRejectsAffectation.unaffectedRejects.length">
                                            &nbsp;
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.col-lg-6 -->
                        <div class="col-lg-8">
                            <div class="panel panel-primary">
                                <div class="panel-heading">Liste des rejets sur corbeille</div>
                                <div class="panel-body">
                                    <ul ui-sortable="adminTrayCtrl.sortableOptions"
                                        class="list-group connectedList ul-noStyle"
                                        ng-model="adminTrayCtrl.trayRejectsAffectation.affectedRejects">
                                        <li class="list-group-item list-group-item-success"
                                            ng-repeat="rejectType in adminTrayCtrl.trayRejectsAffectation.affectedRejects">
                                            <i class="fa fa-hand-paper-o pull-left" aria-hidden="true"></i>
                                            {{rejectType.label}} ({{rejectType.structuralEntityType.label}})
                                            <div class="form-group pull-right">
                                                <label for="desitinationList">Destination :</label>
                                                <select id="desitinationList" class="form-controle"
                                                        ng-model="rejectType.trayDestinationId" se
                                                        ng-options="tray.id as tray.label for tray in adminTrayCtrl.trays"></select>
                                            </div>
                                        </li>
                                        <li ng-show="!adminTrayCtrl.trayRejectsAffectation.affectedRejects.length">
                                            &nbsp;
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.col-lg-6 -->
                    </div>
                    <!-- /.row -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-success" ng-click="adminTrayCtrl.validateTrayRejects()">
                        Valider
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="col-sm-offset-4 col-sm-4 text-center">
            <a class="btn btn-info fa fa-cube" title="Corbeille par defaut"
               ng-click="adminTrayCtrl.openPopinDefaultTray = true"></a>
            <a class="btn btn-info fa fa-bars" title="Ordre des corbeilles"
               ng-click="adminTrayCtrl.openTraysPriorityPoPin()"></a>
            <a class="btn btn-info fa fa-usb" title="Workflow des corbeilles"
               ng-click="adminTrayCtrl.openPopinTraysWorkflow = true"></a>
        </div>
    </div>

    <!-- Modal to set default tray -->
    <div modal-show modal-visible="adminTrayCtrl.openPopinDefaultTray" class="modal fade" data-keyboard="false"
         data-backdrop="static">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Corbeille par défault</h4>
                </div>
                <div class="modal-body">

                    <ul class="list-group">
                        <li ng-class="{'list-group-item list-group-item-success':tray.isDefault, 'list-group-item':!tray.isDefault}"
                            ng-click="adminTrayCtrl.changeDefaultTray(tray.id)"
                            ng-repeat="tray in adminTrayCtrl.trays | orderBy:'label'">
                            <h4 class="list-group-item-heading">{{tray.label}}<i ng-if="tray.isDefault"
                                                                                 class="fa fa-check pull-right"
                                                                                 aria-hidden="true"></i></h4>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-success" ng-click="adminTrayCtrl.validateDefaultTray()">
                        Valider
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal to set trays priority -->
    <div modal-show modal-visible="adminTrayCtrl.openPopinTraysPriority" class="modal fade" data-keyboard="false"
         data-backdrop="static">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Ordre des corbeilles</h4>
                </div>
                <div class="modal-body">
                    <ul ui-sortable="adminTrayCtrl.sortableOptions" class="list-group connectedList ul-noStyle"
                        ng-model="adminTrayCtrl.traysInOrder">
                        <li ng-class="tray.enabled ? 'list-group-item list-group-item-info':'list-group-item list-group-item-warning'"
                            ng-repeat="tray in adminTrayCtrl.traysInOrder">{{tray.label}}<i
                                class="fa fa-hand-paper-o pull-right" aria-hidden="true"></i></li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-success" ng-click="adminTrayCtrl.validateTraysPriority()">
                        Valider
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal to set trays workflow -->
    <div modal-show modal-visible="adminTrayCtrl.openPopinTraysWorkflow" class="modal fade" data-keyboard="false"
         data-backdrop="static">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Workflow des corbeille</h4>
                </div>
                <div class="modal-body">
                    working on
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-success">Valider</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal to set tray indexe -->
    <div modal-show modal-visible="adminTrayCtrl.openAffectedTrayIndexeEdit" class="modal fade" data-keyboard="false"
         data-backdrop="static">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edition de l'index {{adminTrayCtrl.trayIndexEdit.label}} sur cet
                        corbeille</h4>
                </div>
                <form role="form_create" class="form-horizontal">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="enable" class="col-sm-2 control-label">Activé :</label>
                            <div class="col-sm-10">
                                <input type="checkbox" ng-model="adminTrayCtrl.trayIndexEdit.enable"
                                       class="form-control" id="enable" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="required" class="col-sm-2 control-label">Obligatoire :</label>
                            <div class="col-sm-10">
                                <input type="checkbox" ng-model="adminTrayCtrl.trayIndexEdit.required"
                                       class="form-control" id="required" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="required" class="col-sm-2 control-label">Règle de corbeille :</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="adminTrayCtrl.trayIndexEdit.trayIndexRegex"
                                       class="form-control" id="trayIndexRegex" placeholder="Exemple: ^[a-zA-Z]*$"
                                       required>
                            </div>
                        </div>
                        <div class="alert alert-danger" role="alert"
                             ng-show="!adminTrayCtrl.checkRegexValidity(adminTrayCtrl.trayIndexEdit.trayIndexRegex)">
                            <p> Règle Invalide </p>
                        </div>
                        <div class="form-group">
                            <label for="required" class="col-sm-2 control-label">Catégorie :</label>
                            <div class="col-sm-10">
                                <select class="form-control" ng-model="adminTrayCtrl.trayIndexEdit.idCategory">
                                    <option ng-repeat="category in adminTrayCtrl.categories"
                                            ng-selected="(category.id == adminTrayCtrl.trayIndexEdit.idCategory)"
                                            value="{{category.id}}">
                                        {{category.label}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- ./panel-body -->
                    <div class="panel-footer text-right">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"
                                ng-click="adminTrayCtrl.trayIndexEdit = undefined;">Annuler
                        </button>
                        <button type="button" class="btn btn-success" ng-click="adminTrayCtrl.editTrayIndex()"
                                ng-disabled="!adminTrayCtrl.checkRegexValidity(adminTrayCtrl.trayIndexEdit.trayIndexRegex)">
                            valider
                        </button>
                    </div>
                    <!-- ./panel-footer -->
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /#page-wrapper -->
