<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><i class="fa fa fa-history fa-fw "></i> Historique des plis
                <span class="pull-right">
                    <input type="number" ng-model="idEnvelope" class="form-control mousetrap" placeholder="Chercher un pli">
                </span>
                <button id="searchEnvelope" class="hide" type="button" ng-click="historicCtrl.loadEnvelopeHistorics(idEnvelope)"></button>
            </h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info" ng-if="historicCtrl.envelopeHistorics.length">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Historique des actions
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body fixed-panel ">
                    <ul class="timeline">
                        <li ng-class="{'timeline-inverted':$index%2!=0}" ng-repeat="envelopeHistoric in historicCtrl.envelopeHistorics">
                            <div ng-class="historicCtrl.getTimelineBadgeCssClass(envelopeHistoric.id)"><i ng-class="historicCtrl.getTimelineBadgeIconCss(envelopeHistoric.id)"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">{{envelopeHistoric.label}}</h4>
                                    <p>
                                        <small class="text-muted"><i class="fa fa-user"></i> {{envelopeHistoric.user}}</small><br/>
                                        <small class="text-muted"><i class="fa fa-clock-o"></i> {{envelopeHistoric.date|date:' EEEE, d MMMM y à HH:mm:ss'}}</small>
                                    </p>
                                </div>
                                <div class="timeline-body">
                                    <p>
                                        <span class="badge badge-default">{{envelopeHistoric.originTray}}</span> <b><i class="fa fa-long-arrow-right"></i></b> 
                                        <span class="badge badge-default">{{envelopeHistoric.destinationTray}}</span>
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-md-6 -->

        <div class="col-md-3" ng-if="false">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Détail de l'enveloppe
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">

                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-md-3 -->
        <div class="col-md-3" ng-if="false">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Explorer l'enveloppe
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">

                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-md-3 -->
        <div class="col-md-6 pull-right" ng-if="false">
            <div class="panel panel-info" ng-if="historicCtrl.envelopeHistorics.length">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> les indexs de l'enveloppe
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">


                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-md-6 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->