<!-- Modal to delete an index -->
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                <p>Êtes-vous sûr de vouloir supprimer définitivement l'index : <strong>{{modalDeleteIndexesCtrl.simpleIndex.label}}</strong></p>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger" data-dismiss="modal" ng-click="modalDeleteIndexesCtrl.cancel()">Annuler</button>
                <button type="submit" class="btn btn-success" ng-click="modalDeleteIndexesCtrl.ok()">Valider</button>
            </div>
        </div>
