<div id="page-wrapper" class="mousetrap">
    <div class="row">
        <div class="col-lg-12">
            <!--<h2 class="page-header"><i class="fa fa-envelope-o"></i> Enveloppe : {{envelopeDetailCtrl.envelopeObject.label}}</h2>-->
            <ol class="breadcrumb breadcrumb-custom">
                <li>
                    <i class="fa fa-cubes "></i> Corbeilles de traitements
                </li>
                <li>
                    <i class="fa fa-cube"></i> <a href="#/tray-detail/{{envelopeDetailCtrl.currentTray.id}}">{{envelopeDetailCtrl.currentTray.label}}</a>
                </li>
                <li class="active">
                    <i class="fa fa-envelope-o"></i> {{treedata.label}}
                </li>
            </ol>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-7 padding-right-10">
            <div class="panel panel-viewer">
                <canvas-viewer ng-if="fileInput" src="fileInput" overlays="overlays" options="options"></canvas-viewer>
            </div>
            <!-- /.panel -->

            <div class="col-lg-1" ng-repeat="page in envelopeDetailCtrl.pagesPictures">
                <a ng-click="envelopeDetailCtrl.changePictureView(page.label)"
                   ng-class="page.selected == 'selected' ? 'thumbnail active' : 'thumbnail'"><img title="{{page.label}}"
                                                                                                  ng-src="##URL_IMG##/{{page.imagePath}}"
                                                                                                  onerror="this.src='img/default.png'"
                                                                                                  class="img-responsive"/></a>
            </div>
            <!-- /.col-lg-1-->
        </div>
        <!-- /.col-lg-7 -->

        <div class="col-lg-5 padding-left-10">
            <div class="panel panel-controls">
                <div class="panel-body">
                    <table>
                        <tr>
                            <div data-angular-treeview="true" data-tree-id="tree" data-tree-model="treedataArray"
                                 data-node-id="id" data-node-label="label"
                                 data-node-children="children"></div>
                            </td>
                            <td class="col-sm-5">
                                <ul class="list-group">
                                    <li class="list-group-item" ng-if="envelopeDetailCtrl.envelopeObject.comment">
                                        <h4 ng-if="envelopeDetailCtrl.currentTray.type.code==='##TRAY_REJECT_TYPE##'"
                                            class="list-group-item-heading">Type de rejet :</h4>
                                        <h4 ng-if="envelopeDetailCtrl.currentTray.type.code!=='##TRAY_REJECT_TYPE##'"
                                            class="list-group-item-heading">Commentaire :</h4>
                                        <p class="list-group-item-text">
                                            {{envelopeDetailCtrl.envelopeObject.comment}}</p>
                                    </li>
                                    <li class="list-group-item">
                                        <h4 class="list-group-item-heading">Numéro de lot :
                                            {{envelopeDetailCtrl.envelopeObject.batch.label}}</h4>
                                    </li>
                                    <li class="list-group-item">
                                        <h4 class="list-group-item-heading">Opérateur :
                                            {{envelopeDetailCtrl.envelopeObject.lastUser}}</h4>
                                    </li>
                                </ul>
                            </td>
                            <td class="col-sm-4 text-center">
                                <ul>
                                    <li>
                                        <button id="quitEnvelope" type="button" class="btn btn-danger"
                                                ng-click="envelopeDetailCtrl.quitEnvelope('')">Quitter la tâche
                                        </button>
                                    </li>
                                    <li ng-show="envelopeDetailCtrl.rejectTypes.length">
                                        <button type="button" class="btn btn-warning"
                                                ng-click="openPopPinReject = true">Rejeter la tâche
                                        </button>
                                    </li>
                                    <li ng-show="!tree.currentNode.elementType">
                                        <button id="saveImageBtn" type="button" class="btn btn-info"
                                                ng-click="!tree.currentNode.elementType && envelopeDetailCtrl.saveRedressImage()">
                                            Correction d'image
                                        </button>
                                    </li>
                                    <li ng-show="envelopeDetailCtrl.currentTray.type.code==='##TRAY_INDEX_TYPE##'">
                                        <button id="indexSubmit" type="button" class="btn btn-success"
                                                ng-click="envelopeDetailCtrl.currentTray.type.code==='##TRAY_INDEX_TYPE##' && envelopeDetailCtrl.canIndex() && envelopeDetailCtrl.index()"
                                                ng-disabled="!envelopeDetailCtrl.canIndex()">Indexer
                                        </button>
                                    </li>
                                    <li ng-show="envelopeDetailCtrl.currentTray.type.code==='##TRAY_QUALITY_TYPE##'">
                                        <button type="button" class="btn btn-success"
                                                ng-click="envelopeDetailCtrl.validateControleQuality()"
                                                ng-disabled="envelopeDetailCtrl.isControleQualityValidated  === undefined || !envelopeDetailCtrl.canIndex()">
                                            Valider la tâche
                                        </button>
                                    </li>
                                    <li ng-show="envelopeDetailCtrl.currentTray.type.code==='##TRAY_REJECT_TYPE##'">
                                        <button type="button" class="btn btn-warning" ng-click="openPopSendBack = true">
                                            Renvoyer la tâche
                                        </button>
                                    </li>
                                    <li ng-show="envelopeDetailCtrl.currentTray.type.code==='##TRAY_CLASSIF_TYPE##'">
                                        <button id="classifySubmit" type="submit" class="btn btn-success"
                                                ng-click="envelopeDetailCtrl.canClassify() && envelopeDetailCtrl.classify()"
                                                ng-disabled="!envelopeDetailCtrl.canClassify()">Classifier
                                        </button>
                                    </li>
                                    <li ng-if="envelopeDetailCtrl.currentTray.canPrint">
                                        <button type="button" class="btn btn-info"
                                                ng-click="envelopeDetailCtrl.exportEnvelopePdf(envelopeDetailCtrl.envelopeObject.id)">
                                            Imprimer PDF
                                        </button>
                                    </li>
                                    <li ng-show="envelopeDetailCtrl.currentTray.type.code==='##TRAY_REJECT_TYPE##'">
                                        <button type="button" class="btn btn-success"
                                                ng-click="envelopeDetailCtrl.flagExportEnvelope(envelopeDetailCtrl.envelopeObject.id)">
                                            Valider
                                        </button>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->

            <!--====================        START - Indexation accordion for Envelope / Documents         ==================================-->
            <uib-accordion close-others="currentTray.accordionCloseOthers">
                <div uib-accordion-group class="panel-{{category.color}}" is-open="category.open"
                     is-disabled="!category.enabled"
                     ng-repeat="category in envelopeDetailCtrl.getCategoriesForIndexationPanel()">
                    <uib-accordion-heading>
                        <div>
                            <i class="fa {{category.icon}}"></i> {{category.label}} :<i class="pull-right"
                                                                                        ng-class="{'fa fa-chevron-down': category.open, 'fa fa-chevron-right': !category.open}"></i>
                        </div>
                    </uib-accordion-heading>

                    <table class="table_grid table-striped" ng-if="category.type === 'table'">
                        <tr ng-repeat="t in [].constructor(category.nbRows) track by $index">
                            <td class="text-center" ng-repeat="n in [].constructor(category.nbColumns) track by $index"
                                ng-init="index = envelopeDetailCtrl.getIndexByPosition(category, $index, $parent.$index)">
                                <input ng-if="index" title="{{index.label}}" class="mousetrap" name="id_{{index.id}}"
                                       id="id_{{index.id}}" ng-model="index.value[0]"
                                       placeholder="{{index.label}}" type="{{index.inputType}}"
                                       ng-readonly="envelopeDetailCtrl.currentTray.type.code==='##TRAY_QUALITY_TYPE##'"
                                />
                                <!--<input title="{{$parent.$index+''+$index}}" class="transparent-input" ng-if="!index" type="checkbox" ng-disabled="true" />-->
                            </td>
                        </tr>
                    </table>

                    <form name="form_envelope_indexes" role="form_envelope_indexes" class="form-horizontal"
                          ng-if="category.type !== 'table'">
                        <div class="form-group" ng-repeat="index in category.indexes track by index.id"
                             ng-if="!index.childIndexes.length">
                            <label for="id_{{index.id}}" class="col-sm-4 control-label pull-left">{{index.label}}
                                {{index.required ? '*' : ''}} :</label>

                            <div class="col-sm-8"
                                 ng-class="{'has-error': form_envelope_indexes.id_{{index.id}}.$error.maxlength}"
                                 ng-if="!index.refSearch">
                                <input ng-if="index.items.length===0 && index.inputType !== 'tel'"
                                       name="id_{{index.id}}" id="id_{{index.id}}" class="form-control mousetrap"
                                       ng-maxlength="index.maxLength" ng-model="index.value[0]"
                                       placeholder="{{index.label}}" type="{{index.inputType}}"
                                       ng-readonly="envelopeDetailCtrl.currentTray.type.code==='##TRAY_QUALITY_TYPE##'"
                                       ng-pattern="{{((index.trayIndexRegex == null)||(index.trayIndexRegex == '')) ? index.indexRegex : index.trayIndexRegex}}">

                                <input phone-input ng-if="index.items.length===0 && index.inputType === 'tel'"
                                       id="id_{{index.id}}" class="form-control mousetrap"
                                       ng-maxlength="index.maxLength" ng-model="index.value[0]"
                                       placeholder="{{index.label}}" type="{{index.inputType}}"
                                       ng-readonly="envelopeDetailCtrl.currentTray.type.code==='##TRAY_QUALITY_TYPE##'">

                                <ui-select ng-if="index.items.length"
                                           ng-init="index.value[0]=envelopeDetailCtrl.getSelectedOrDefaultItem(index)"
                                           ng-model="index.value[0]"
                                           theme="bootstrap" reset-search-input="false" append-to-body="true"
                                           ng-disabled="envelopeDetailCtrl.currentTray.type.code==='##TRAY_QUALITY_TYPE##'">
                                    <ui-select-match placeholder="{{index.label}}">{{$select.selected.label}}
                                    </ui-select-match>
                                    <ui-select-choices
                                            repeat="item.code as item in index.items | filter : $select.search">
                                        {{item.label}}
                                    </ui-select-choices>
                                </ui-select>
                                <span ng-show="form_envelope_indexes.id_{{index.id}}.$error.maxlength"
                                      class="help-block">La longueur maximale est :{{index.maxLength}}</span>
                                <!--<span ng-show="form_envelope_indexes.id_{{index.id}}.$error.pattern" class="help-block">Non correspondance des champs avec le type de données attendu</span>-->
                                <div class="alert alert-danger" role="alert"
                                     ng-show="form_envelope_indexes.id_{{index.id}}.$error.pattern">Non correspondance
                                    avec le type de données attendu
                                </div>
                            </div>

                            <div class="col-sm-8"
                                 ng-class="{'has-error': form_envelope_indexes.id_{{index.id}}.$error.maxlength}"
                                 ng-if="index.refSearch">
                                <div class="input-group">
                                    <input ng-if="index.items.length===0 && index.inputType !== 'tel'"
                                           name="id_{{index.id}}" id="id_{{index.id}}" class="form-control mousetrap"
                                           ng-maxlength="index.maxLength" ng-model="index.value[0]"
                                           placeholder="{{index.label}}"
                                           type="{{index.inputType}}"
                                           ng-readonly="envelopeDetailCtrl.currentTray.type.code==='##TRAY_QUALITY_TYPE##'">

                                    <input phone-input ng-if="index.items.length===0 && index.inputType === 'tel'"
                                           id="id_{{index.id}}" class="form-control mousetrap"
                                           ng-maxlength="index.maxLength" ng-model="index.value[0]"
                                           placeholder="{{index.label}}"
                                           type="{{index.inputType}}"
                                           ng-readonly="envelopeDetailCtrl.currentTray.type.code==='##TRAY_QUALITY_TYPE##'">

                                    <ui-select ng-if="index.items.length"
                                               ng-init="index.value[0]=envelopeDetailCtrl.getSelectedOrDefaultItem(index)"
                                               ng-model="index.value[0]"
                                               theme="bootstrap" reset-search-input="false" append-to-body="true">
                                        <ui-select-match placeholder="{{index.label}}">{{$select.selected.label}}
                                        </ui-select-match>
                                        <ui-select-choices
                                                repeat="item.code as item in index.items | filter : $select.search">
                                            {{item.label}}
                                        </ui-select-choices>
                                    </ui-select>
                                    <span ng-show="form_envelope_indexes.id_{{index.id}}.$error.maxlength"
                                          class="help-block">La longueur maximale est :{{index.maxLength}}</span>

                                    <span class="input-group-btn"> <button class="btn btn-success" id="callRefBtn"
                                                                           type="button"
                                                                           ng-click="envelopeDetailCtrl.callReferential(index)"
                                                                           ng-disabled="!index.value[0]"><i
                                            class="fa fa-search" aria-hidden="true"></i></button></span>
                                </div>
                            </div>

                        </div>
                    </form>

                    <table class="table table-bordered table-condensed text-center table-indexation"
                           ng-repeat="index in category.indexes track by index.id"
                           ng-if="index.childIndexes.length">
                        <thead>
                        <tr class="info">
                            <th ng-repeat="indexd in index.childIndexes">{{indexd.label}}</th>
                            <th class="text-center"
                                ng-if="envelopeDetailCtrl.currentTray.type.code==='##TRAY_INDEX_TYPE##'">Action
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in index.childIndexes[0].value track by $index">
                            <td ng-repeat="childIndex in index.childIndexes">
                                <input id="id_{{$parent.$index}}{{$index}}" class="form-control mousetrap"
                                       ng-model="childIndex.value[$parent.$index]"
                                       placeholder="{{childIndex.label}} - {{$parent.$index + 1}}"
                                       type="{{childIndex.inputType}}"
                                       ng-readonly="envelopeDetailCtrl.currentTray.type.code==='##TRAY_QUALITY_TYPE##'">
                            </td>
                            <td>
                                <button class="btn btn-sm btn-danger fa fa-minus-circle" title="Supprimer la ligne"
                                        ng-if="envelopeDetailCtrl.currentTray.type.code==='##TRAY_INDEX_TYPE##'"
                                        ng-click="envelopeDetailCtrl.dropLine(index, $parent.$index)"></button>
                                <button class="btn btn-sm btn-warning fa fa-files-o" title="Dupliquer la ligne"
                                        ng-if="envelopeDetailCtrl.currentTray.type.code==='##TRAY_INDEX_TYPE##'"
                                        ng-click="envelopeDetailCtrl.duplicateLine(index, $parent.$index)"></button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="{{index.childIndexes.length}}"></td>
                            <td class="text-center">
                                <button class="btn btn-sm btn-success fa fa-plus-circle"
                                        ng-if="envelopeDetailCtrl.currentTray.type.code==='##TRAY_INDEX_TYPE##'"
                                        ng-click="envelopeDetailCtrl.addNewLine(index)"></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </uib-accordion>

            <div class="btn-group" data-toggle="buttons"
                 ng-if="envelopeDetailCtrl.currentTray.type.code==='##TRAY_QUALITY_TYPE##'">
                <label>
                    Validez-vous les données saisies ?
                    <button type="button" ng-click="envelopeDetailCtrl.isControleQualityValidated  = true"
                            ng-class="{'btn btn-success':envelopeDetailCtrl.isControleQualityValidated , 'btn btn-default':!envelopeDetailCtrl.isControleQualityValidated }">
                        OUI
                    </button>
                    <button type="button" ng-click="envelopeDetailCtrl.isControleQualityValidated  = false"
                            ng-class="{'btn btn-default':envelopeDetailCtrl.isControleQualityValidated ===true || envelopeDetailCtrl.isControleQualityValidated ===undefined, 'btn btn-danger':envelopeDetailCtrl.isControleQualityValidated ===false}">
                        NON
                    </button>
                </label>
            </div>
            <!--====================        END - Indexation accordion for Envelope / Documents         ==================================-->


            <!--===========================     CLASSIFICATION TRAY : classify by document (START)     ===========================-->
            <div class="panel panel-info"
                 ng-if="tree.currentNode.structuralEntityType.code==='##STRUCTURAL_ENTITY_TYPE_CODE_DOCUMENT##' && envelopeDetailCtrl.currentTray.type.code==='##TRAY_CLASSIF_TYPE##' && envelopeDetailCtrl.currentTray.structuralEntityType.code==='##STRUCTURAL_ENTITY_TYPE_CODE_DOCUMENT##'">
                <div class="panel-heading">
                    <i class="fa fa-pencil-square-o"></i> Classifier le document
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <form role="form_classification" class="form-horizontal">
                        <div class="form-group">
                            <label for="id_typology" class="col-sm-4 control-label pull-left">Choisir un type *
                                :</label>
                            <div class="col-sm-7">
                                <ui-select id="id_typology" ng-model="tree.currentNode.documentType.id"
                                           ng-disabled="tree.currentNode.documentType.label" theme="bootstrap"
                                           reset-search-input="false"
                                           append-to-body="true">
                                    <ui-select-match placeholder="Choisir un type">{{$select.selected.label}}
                                    </ui-select-match>
                                    <ui-select-choices
                                            repeat="docType.id as docType in envelopeDetailCtrl.docTypes | filter : $select.search">
                                        {{docType.code + ' - ' + docType.label}}
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <i id="dropDocTypeBtn" ng-if="tree.currentNode.documentType.label"
                               ng-click="tree.currentNode.documentType=undefined"
                               class="col-sm-1 fa fa-times icon-left-input"></i>
                            <i id="validateDocTypeBtn"
                               ng-if="tree.currentNode.documentType.id && !tree.currentNode.documentType.label"
                               ng-click="envelopeDetailCtrl.refreshDocTypeLabel(tree.currentNode.documentType)"
                               class="col-sm-1 fa fa-check icon-left-input"></i>
                        </div>
                    </form>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
            <!--===========================     CLASSIFICATION TRAY : classify by document (END)     ===========================-->

            <!--===========================     CLASSIFICATION TRAY : classify by envelope (START)     ===========================-->
            <div class="panel panel-info"
                 ng-if="envelopeDetailCtrl.currentTray.type.code==='##TRAY_CLASSIF_TYPE##' && envelopeDetailCtrl.currentTray.structuralEntityType.code==='##STRUCTURAL_ENTITY_TYPE_CODE_ENVELOPE##'">
                <div class="panel-heading">
                    <i class="fa fa-pencil-square-o"></i> Classifier l'enveloppe
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <form role="form_classification" class="form-horizontal">
                        <div class="form-group">
                            <label for="id_typology" class="col-sm-4 control-label pull-left">Choisir un type de pli *
                                :</label>
                            <div class="col-sm-7">
                                <ui-select id="id_typology" ng-model="envelopeDetailCtrl.envType" theme="bootstrap"
                                           reset-search-input="false" append-to-body="true">
                                    <ui-select-match placeholder="Choisir un type">{{$select.selected.label}}
                                    </ui-select-match>
                                    <ui-select-choices
                                            repeat="envType in envelopeDetailCtrl.envTypes | filter : $select.search">
                                        {{envType.label}}
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <!-- remove because not managed in new mdd => ng-click="envelopeDetailCtrl.informEnvDocsTypes()"-->
                            <i id="validateEnvTypeBtn" ng-if="envelopeDetailCtrl.envType"
                               class="col-sm-1 fa fa-check icon-left-input"></i>
                        </div>
                    </form>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
            <!--===========================     CLASSIFICATION TRAY : classify by envelope (END)     ===========================-->

        </div>
        <!-- /.col-lg-5 -->
    </div>
    <!-- /.row -->

    <!-- Modal to reject envelope -->
    <div modal-show modal-visible="openPopPinReject" class="modal fade" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><i class="fa fa-trash-o"></i> Rejeter la tâche:</h4>
                </div>
                <div class="modal-body">
                    <form role="form" class="form-horizontal">
                        <div class="form-group">
                            <label for="select_reject" class="col-sm-3 control-label">Type de rejet:</label>
                            <div class="col-sm-9">
                                <select id="select_reject" class="form-control mousetrap" ng-model="rejectId"
                                        ng-options="rejectType.id as rejectType.label for rejectType in envelopeDetailCtrl.rejectTypes | orderBy:'label'"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="comment" class="col-sm-3 control-label">Commentaire :</label>
                            <div class="col-sm-9">
                                <textarea ng-model="comment" class="form-control" id="comment"
                                          placeholder="Pourquoi rejetez-vous cette tâche ?" maxlength="250"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="rejectTypeSubmit" type="submit" class="btn btn-success"
                            ng-click="rejectId && envelopeDetailCtrl.rejectEnvelope(rejectId, comment)"
                            ng-disabled="!rejectId">Rejeter
                    </button>
                    <button id="rejectTypeCancel" type="submit" class="btn btn-danger" data-dismiss="modal">Annuler
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal to quit envelope -->
    <div modal-show modal-visible="openPopSendBack" class="modal fade" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><i class="fa fa-paper-plane-o"></i> Renvoyer la tâche :</h4>
                </div>
                <div class="modal-body">
                    <form role="form" class="form-horizontal">
                        <div class="form-group">
                            <label for="select_tray" class="col-sm-4 control-label">Choisir une corbeille :</label>
                            <div class="col-sm-8">
                                <select id="select_tray" class="form-control mousetrap"
                                        ng-options="tray as tray.label for tray in envelopeDetailCtrl.currentTray.predecessors | orderBy:'label'"
                                        ng-model="tray"></select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="sendBackSubmit" type="submit" ng-disabled="!tray" class="btn btn-success"
                            ng-click="tray&&envelopeDetailCtrl.changeEnvelopeTray(tray)">Renvoyer
                    </button>
                    <button id="sendBackCancel" type="submit" class="btn btn-danger" data-dismiss="modal">Annuler
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /#page-wrapper -->
