.badge-warning {
  background-color: #d58512;
}

.badge-success {
  background-color: #398439;
}

.badge-info {
  background-color: #269abc;
  font-size: 20px;
  border-radius: 12px;
}

.badge-inverse {
  background-color: #333333;
}

.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}


.breadcrumb-custom {
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 2px;
}

.custom_header{
  height: 10px

}

.search-input{
  margin-bottom: 5px;
  border-radius: 2px;
}

.panel-viewer {
  /*border-radius: 1px;*/
  margin-bottom: 5px;
  border-color: gray;
}

.padding-right-10 {
  /*margin-right: 0px;*/
  padding-right: 10px;
}

.padding-left-10 {
  /*margin-right: 0px;*/
  padding-left: 10px;
}






.no-padding{
    padding-right: 0px;
    padding-left: 0px;
}

/*
input:not([type]), input[type="email" i], input[type="number" i], input[type="password" i], input[type="tel" i], input[type="url" i], input[type="text" i] {
    padding: 1px 0px;
}*/

.input-app {
  border-radius: 2px;
}

/*.form-control {
    color: #000000;
    border-color: #808086;
    border-radius: 0;
}*/

.form-horizontal .control-label{
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    white-space: normal;
}

.form-horizontal .form-group {
     margin-right: -15px; 
     margin-left: 15px; 
     margin-bottom: 10px;
}


/*******************************************************************************************************************
 *                                          CUSTOM INDEXATION CSS - START                                          *                                                                                       *
 *******************************************************************************************************************/
 /* panel-indexation */
/*.panel-indexation {
  border-radius: 1px;
  margin-bottom: 5px;
  border-color: #2A3F54;
}
.panel-indexation>.panel-heading {
    color: #333;
    border-bottom: 1px solid #2A3F54;
    background-color: #f5f5f5;
}
.panel-indexation>.panel-body {
    padding: 10px 10px 10px 0px
}
.panel-indexation>.panel-body>.panel-group {
    margin-bottom: 0px;
}*/

/*  panel-accordion-indexation  */
.panel-accordion-indexation>.panel-heading {
    /*color: #333;*/
    /*border-bottom: 1px solid #2A3F54;*/
    /*background-color: #f5f5f5;*/
}
.panel-accordion-indexation .panel-body {
    padding: 0px 0px 0px 0px;
}
.panel-accordion-indexation .btn {
  /*border-radius: 1px;
  padding: 0px 2px;*/
}

.panel-accordion-indexation>.panel-footer {
  /*border-radius: 1px;
  padding: 0px 2px;*/
  padding: 5px 5px;
}

/* panel-controls */
.panel-controls {
  /*border-radius: 1px;*/
  margin-bottom: 5px;
  border-color: gray;
}
.panel-controls>.panel-body {
    padding: 0px;
}
.panel-controls ul {
  list-style-type:none;
  margin-bottom:5px;
  padding-left:0px;
}
.panel-controls ul> li {
  margin-bottom:0px;
}
.panel-controls button {
    position: relative;
    padding: 4px 7px;
    border: 0;
    margin: 2px 1px;
    cursor: pointer;
   /* border-radius: 2px;*/
    text-transform: uppercase;
    text-decoration: none;
    width: 100%;
}
.panel-controls .col-sm-4 {
    position: relative;
   /* border-right: 1px dotted #2A3F54;*/
    padding-right: 1px; 
    padding-left: 1px; 
}
.panel-controls table {
    width: 100%;
}
.panel-controls table>tbody>tr>td {
    vertical-align: top;
}
/* Table indexation */
.table-indexation>tbody>tr>td {
    padding: 0px;
    vertical-align: middle;
}
.table-indexation {
  margin-bottom: 5px;
}

/*******************************************************************************************************************
 *                                          CUSTOM INDEXATION CSS - END                                            *                                                                                       *
 *******************************************************************************************************************/

 /*******************************************************************************************************************
 *                                          CUSTOM NAVBAR CSS - START                                               *                                                                                       *
 *******************************************************************************************************************/
.navbar-custom {
    margin-bottom: 0
}

.navbar-brand {
    height: 48px;
    padding: 2px 14px;
}
.profile-ava img {
    /*border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 2px solid #688a7e;
    display: inline-block;
    max-height: 40px;*/
    margin-right: 5px;
    border-radius: 50%;
    float: left;
    background-size: auto 100%;
    max-height: 43px;
}
.nav a {
    color: #269abc; 
    /*font-weight: bold;*/
    font-size: 14px;
    text-decoration: none;
}
/*******************************************************************************************************************
 *                                          CUSTOM NAVBAR CSS - END                                                *                                                                                       *
 *******************************************************************************************************************/
.modal-body {
    max-height: calc(100vh - 280px);
    overflow-y: auto;
}


 /*******************************************************************************************************************
 *                                          CUSTOM MODAL CSS - START                                                *                                                                                       *
 *******************************************************************************************************************/

 .loading {  
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000;
    background-color: rgba(51, 51, 51, 0.1);
 }


 .icon-left-input {
    padding-top: 5px;
    font-size: 24px;
    padding-left: 0px;
 }

input[type='checkbox']{
    height: 25px;
    width: 25px; 
}


input:required {
    background-color:#fcf8e3;
}
textarea:required {
    background-color:#fcf8e3;
}
select:required {
    background-color:#fcf8e3;
}





.panel-move {
    text-align:center;
    vertical-align: middle;
}

.panel-move>.panel-body {
    display: inline-block; 
    vertical-align: middle;
}

.ul-noStyle {
    list-style-type: none;
}

.fixed-panel {
  min-height: 10;
  max-height: 77vh;
  overflow-y: scroll;
}


.table_grid {
    /*border: 1px solid;*/
     /*text-align: center; */
 width: 100%;
}

.table_grid td {
    text-align: center; /* center checkbox horizontally */
    vertical-align: middle; /* center checkbox vertically */
    /*border: 1px solid;*/

}
.table_grid tr {
    /*height: 80px; */  
}


input.transparent-input { 
    border:none !important
}

.transparent-input {
   background-color: rgba(0, 0, 0, 0);
   border:none;
}

 input.transparent-input{
       background-color:rgba(0,0,0,0) !important;
       border:none !important;
        /*display: none;*/
    }


.accordion-toggle:hover, .accordion-toggle:focus {
  /*color: #333;*/
  text-decoration: none;
  outline-style: none;
}

/*.accordion-toggle:active {
  color: #333;
  text-decoration: none;
  outline-style: none;
}*/

/*a:focus, a:hover {
  color: #23527c;
  text-decoration: none;
}*/
/*.no-decoration {
    color: #333;
}
.no-decoration:hover {
  color: #333;
    text-decoration: none;
}*/

.cursor-hand{
    cursor: pointer;
}