<div id="page-wrapper">

    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header"><i class="fa fa-list-alt" aria-hidden="true"></i> Administration des types des
                entités : {{entityTypeListCtrl.routeParams.entityTypeParams}}
            </h2>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
                <input type="text" ng-model="searchentityType" class="form-control" placeholder="CHERCHER"
                       aria-describedby="basic-addon1">
                <span class="input-group-btn">
                    <a href="#/admin/entity-type/{{entityTypeListCtrl.routeParams.entityTypeParams}}/add"
                       class="btn btn-success"><i
                            class="fa fa-plus-circle"
                            aria-hidden="true"></i> AJOUTER</a>
                </span>
            </div>
            <br>
            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr class="warning">
                    <th>Libellé</th>
                    <th>Code</th>
                    <th class="text-center">Date de création</th>
                    <th class="text-center">Dernière modification</th>
                    <th class="text-center">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="entityType in entityTypeListCtrl.entityTypes | filter : searchentityType | limitTo : entityTypeListCtrl.itemsPerPage : (entityTypeListCtrl.currentPage-1)*entityTypeListCtrl.itemsPerPage">
                    <td>{{entityType.label}}</td>
                    <td>{{entityType.code}}</td>
                    <td class="text-center">{{entityType.createDate | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                    <td class="text-center">{{entityType.updateDate | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                    <td class="text-center">
                        <button type="submit" class="btn btn-sm btn-success fa fa-pencil-square-o"
                                title="Modifier"
                                ng-click="entityTypeListCtrl.prepareUpdateEntityType(entityType)"></button>
                        <button type="submit" class="btn btn-sm btn-danger fa fa-trash-o" title="Supprimer"
                                ng-click="entityTypeListCtrl.prepareDeleteEntityType(entityType)"></button>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="main-pagination">
                <uib-pagination total-items="entityTypeListCtrl.entityTypes.length"
                                ng-model="entityTypeListCtrl.currentPage" max-size="entityTypeListCtrl.maxSize"
                                class="pagination-sm" rotate="false" first-text="Premier" last-text="Dernier"
                                previous-text="Précédent"
                                next-text="Suivant" items-per-page="entityTypeListCtrl.itemsPerPage">
                </uib-pagination>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <!-- Modal to delete a envelope type -->
    <div modal-show modal-visible="entityTypeListCtrl.openPopinConfirm" class="modal fade"
         data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p>Êtes-vous sûr de vouloir supprimer définitivement le type d'entité : <strong>{{entityTypeListCtrl.currentModel.label}}</strong>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-success" ng-click="entityTypeListCtrl.deleteEntityType()">
                        Valider
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>

</div>
<!-- /#page-wrapper -->