<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><i class="fa fa-dashboard fa-fw "></i> Tableau de bord
                <span id="refreshSpan" class="pull-right"><i class="fa fa-refresh"></i> {{countSeconds +' seconde(s)'}}</span>
            </h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12">
            <div access="{{tray.authoritiesAsString}}" class="col-lg-3 col-md-4 col-sm-6" ng-repeat="tray in homeCtrl.trays">
                <a id="trayPanel{{$index+1}}" href="{{homeCtrl.getUriOfTrayByTypeAndId(tray.type,tray.id)}}">
                    <div ng-class="homeCtrl.getClass(tray)">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa {{tray.icon}} fa-4x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{tray.nbEnvelopes}}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-2 text-left"><i ng-class="homeCtrl.getSubTypeIcon(tray)" aria-hidden="true"></i></div>
                                <div class="col-xs-10 text-right">{{tray.label}}</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!-- /.col-md-8 -->

        <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <i class="fa fa-pie-chart"></i> Répartition des enveloppes
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <canvas id="trays" class="chart chart-pie" chart-data="pieChart.data" chart-labels="pieChart.labels"></canvas>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-md-2 -->

        <div class="col-lg-2 col-md-4 col-sm-6 pull-right">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <i class="fa fa-share" aria-hidden="true"></i> Total des plis intégrés : {{dashboard.allIntegrated}}<br>
                    <i class="fa fa-trash" aria-hidden="true"></i> Total des plis supprimés : {{dashboard.allDeleted}}<br>
                    <i class="fa fa-reply" aria-hidden="true"></i> Total des plis traités : {{dashboard.allTreated}}<br>
                    <i class="fa fa-paper-plane" aria-hidden="true"></i> Total des plis exportés : {{dashboard.allExported}}<br>
                    <i class="fa fa-sign-language" aria-hidden="true"></i> Vous avez traité : {{dashboard.userTreated}}
                </div>
                <!-- /.panel-heading -->

                <a ng-click="homeCtrl.getTreatedAndCadenceDetails()">
                    <div class="panel-footer">
                        <span class="pull-left">Afficher plus de détails</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                    <!-- /.panel-footer -->
                </a>
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-md-2 -->

        <div access="##ADMINISTRATOR_ROLE##,##SUPERVISOR_ROLE##" class="col-lg-4 col-md-8 col-sm-12 pull-right" ng-if="barChart.data.length">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart"></i> Répartition des traitements de plis par utilisateur
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <canvas id="base" class="chart-bar" chart-labels="barChart.labels" chart-data="barChart.data" chart-colors="barChart.colors"></canvas>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <!-- Modal to delete a tray -->
    <div modal-show modal-visible="homeCtrl.openPopin" class="modal fade" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Nombre de plis traités par corbeille et étape</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered" ng-if="homeCtrl.treatedAndCadence.length">
                        <tbody>
                            <tr class="success">
                                <th>Libellé</th>
                                <th>Classification</th>
                                <th>Indexation</th>
                                <th>Rejet</th>
                                <th>Redirection</th>
                                <th>Contrôle qualité</th>
                            </tr>
                            <tr ng-repeat="line in homeCtrl.treatedAndCadence">
                                <td>{{line.label}}</td>
                                <td class="text-center">{{line.nbClassfication}}</td>
                                <td class="text-center">{{line.nbIndexation}}</td>
                                <td class="text-center">{{line.nbRejet}}</td>
                                <td class="text-center">{{line.nbRedirection}}</td>
                                <td class="text-center">{{line.nbQualityCtrl}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <p ng-if="!homeCtrl.treatedAndCadence.length">Aucun traitement n'a été effectué aujourd'hui</p>
                </div>
                <div class="modal-header">
                    <h4 class="modal-title">Temps de traitement par corbeille et étape</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered" ng-if="homeCtrl.treatedAndCadence.length">
                        <tbody>
                            <tr class="success">
                                <th>Libellé</th>
                                <th>Classification</th>
                                <th>Indexation</th>
                                <th>Rejet</th>
                                <th>Redirection</th>
                                <th>Contrôle qualité</th>
                            </tr>
                            <tr ng-repeat="line in homeCtrl.treatedAndCadence">
                                <td>{{line.label}}</td>
                                <td class="text-center">{{line.timeClassfication | toHrMinSec}}</td>
                                <td class="text-center">{{line.timeIndexation | toHrMinSec}}</td>
                                <td class="text-center">{{line.timeRejet | toHrMinSec}}</td>
                                <td class="text-center">{{line.timeRedirection | toHrMinSec}}</td>
                                <td class="text-center">{{line.timeQualityCtrl | toHrMinSec}}</td>
                            </tr>
                            <tr class="info">
                                <th>Total</th>
                                <td class="text-center" colspan="5">{{homeCtrl.totalCadence | toHrMinSec}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <p ng-if="!homeCtrl.treatedAndCadence.length">Aucun traitement n'a été effectué aujourd'hui</p>
                </div>
                <div class="modal-header">
                    <h4 class="modal-title">Cadence de traitement par corbeille et étape</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered" ng-if="homeCtrl.treatedAndCadence.length">
                        <tbody>
                            <tr class="success">
                                <th>Libellé</th>
                                <th>Classification</th>
                                <th>Indexation</th>
                                <th>Rejet</th>
                                <th>Redirection</th>
                                <th>Contrôle qualité</th>
                            </tr>
                            <tr ng-repeat="line in homeCtrl.treatedAndCadence">
                                <td>{{line.label}}</td>
                                <td class="text-center">{{line.timeClassfication | toCadence:line.nbClassfication}}</td>
                                <td class="text-center">{{line.timeIndexation | toCadence:line.nbIndexation}}</td>
                                <td class="text-center">{{line.timeRejet | toCadence:line.nbRejet}}</td>
                                <td class="text-center">{{line.timeRedirection | toCadence:line.nbRedirection}}</td>
                                <td class="text-center">{{line.timeQualityCtrl | toCadence:line.nbQualityCtrl}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <p ng-if="!homeCtrl.treatedAndCadence.length">Aucun traitement n'a été effectué aujourd'hui</p>
                </div>
            </div>
            <!-- ./modal-content -->
        </div>
    </div>
</div>
<!-- /#page-wrapper -->